<p-table [value]="nestedData" >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of getColumns(nestedData)">{{ col | camelCaseToTitleCase }}</th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td *ngFor="let col of getColumns(nestedData)">
                <div *ngIf="isNested(rowData[col]); else simpleValue" class="flex">
                    <p-button 
                        [icon]="rowData[col].expanded ? 'pi pi-minus' : 'pi pi-plus'" 
                        [rounded]="true" 
                        [outlined]="true"
                        (onClick)="rowData[col].expanded = !rowData[col].expanded"
                        class="expand-nested-table-button"/>
                    <div *ngIf="rowData[col].expanded">
                        <pop-nested-table [nestedData]="rowData[col]"></pop-nested-table>
                    </div>
                    <div *ngIf="isNested(rowData[col]) && !rowData[col].expanded">
                        {{ rowData[col].length }} entries
                    </div>
                </div>  
                <ng-template #simpleValue>
                    {{ rowData[col] || '-' }}
                </ng-template>
            </td>
        </tr>
    </ng-template>
  </p-table>
  