<p-table [value]="nestedData" [tableStyle]="{ 'min-width': '40rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of getColumns(nestedData)">{{ col }}</th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td *ngFor="let col of getColumns(nestedData)">
                <ng-container *ngIf="isNested(rowData[col]); else simpleValue">
                    <button pButton type="button" icon="pi pi-chevron-down" (click)="rowData[col].expanded = !rowData[col].expanded"></button>
                </ng-container>  
                <ng-template #simpleValue>
                    {{ rowData[col] }}
                </ng-template>
            </td>
        </tr>

        <ng-container *ngFor="let col of getColumns(nestedData)">
            <tr *ngIf="rowData[col].expanded">
                <td colspan="4">    
                    <pop-nested-table [nestedData]="rowData[col]"></pop-nested-table>
                </td>
            </tr>
        </ng-container>
    </ng-template>
  </p-table>
  