<p-panel 
    class="case-manager-panel"
    [toggleable]="true" 
    [collapsed]="false" 
    collapseIcon="pi pi-angle-down" 
    expandIcon="pi pi-angle-up" 
    styleClass="mb-3">
    <ng-template #header>
        <div class="flex align-items-center gap-2">
            <p-avatar 
                size="normal" 
                shape="square" 
                [style]="{ 'background-color': 'color-mix(in srgb, var(--p-primary-500), transparent 80%)', color: 'var(--p-primary-500)' }">
                <lucide-angular [img]="icon" ></lucide-angular>
            </p-avatar>
            <span class="case-manager-panel-title" >
                {{ title }}
            </span>
            <p-badge 
                [value]="loadingData ? '-' : entries.length" 
                [severity]="entries.length ? 'primary' : 'secondary'" />
            <i *ngIf="completed" class="pi pi-star-fill" style="color: var(--p-primary-color)"></i>
        </div>
        @let menuItems = menuItems$ | async;
        <span 
            *ngIf="authService.user.canManageCases"
            class="pi pi-cog cursor-pointer ml-auto my-auto" 
            style="color: var(--p-button-text-secondary-color)" 
            (click)="menu.toggle($event)"></span>
        <p-confirmdialog />
        <p-menu #menu 
        [model]="menuItems || getMenuItems()" 
        [popup]="true"/>
    </ng-template>
    

    <div>
        <div *ngIf="loadingData" class="no-entries-text">
            <p-skeleton width="100%" styleClass="mb-2" />
            <p-skeleton width="100%" styleClass="mb-2" />
        </div>
        <div *ngIf="!loadingData && entries.length == 0" class="no-entries-text">
            No entries associated with this case
        </div>
        <p-timeline 
            *ngIf="!loadingData &&  entries.length > 0" 
            [value]="entries" 
            class="case-manager-panel-timeline">
            <ng-template pTemplate="content" let-entry>
                <div>
                    <div class="case-manager-panel-timeline-date mb-1">
                        <small class="">
                            {{ entry.date || entry.assertionDate | date }}
                        </small>
                        <small *ngIf="entry.period?.start" class="">
                            {{ entry.period?.start | date }} - {{ entry.period?.end | date }}
                        </small>
                    </div>
                    <div (click)="showDrawer(entry)" class="cursor-pointer">
                        <i class="pi pi-file"></i> {{ entry.description }}
                    </div>
                </div>
                
            </ng-template>
        </p-timeline>
    </div>
</p-panel>

<pop-case-manager-drawer 
    [(visible)]="drawerVisible" 
    [data]="drawerData" 
    [icon]="icon"
    (delete)="deleteEntry($event)"
    (update)="updateEntry($event)"/>
