<p-panel 
    [toggleable]="true" 
    [collapsed]="false" 
    collapseIcon="pi pi-angle-down" 
    expandIcon="pi pi-angle-up" 
    styleClass="mb-3">
    <ng-template #header>
        <div class="flex align-items-center gap-2">
            <p-avatar 
                size="normal" 
                shape="square" 
                [style]="{ 'background-color': 'color-mix(in srgb, var(--p-primary-500), transparent 80%)', color: 'var(--p-primary-500)' }">
                <lucide-angular [img]="icon" ></lucide-angular>
            </p-avatar>
            <span style="font-size: 1.1rem;">
                {{ title }}
            </span>
            <p-badge [value]="entries.length" [severity]="entries.length ? 'primary' : 'secondary'" />
            <i *ngIf="completed" class="pi pi-star-fill" style="color: var(--p-primary-color)"></i>
        </div>
        @let menuItems = menuItems$ | async;
        <span 
            class="pi pi-cog cursor-pointer ml-auto my-auto" 
            style="color: var(--p-button-text-secondary-color)" 
            (click)="menu.toggle($event)"></span>
        <p-confirmdialog />
        <p-menu #menu 
        [model]="menuItems || getMenuItems()" 
        [popup]="true"/>
    </ng-template>
    

    <div class="ml-2">
        <div *ngIf="entries.length == 0" class="no-entries-text">
            No entries associated with this case
        </div>
        <p-timeline [value]="entries" *ngIf="entries.length > 0" class="mt-2">
            <ng-template pTemplate="content" let-entry>
                <div (click)="showDrawer(entry)" class="cursor-pointer">
                    <div>
                        <small class="text-muted">
                            {{ entry.date || entry.assertionDate | date }}
                        </small>
                        <small class="text-muted">
                            {{ entry.period?.start | date }} - {{ entry.period?.end | date }}
                        </small>
                    </div>
                    <div>
                        {{ entry.description }}
                    </div>
                </div>
                
            </ng-template>
        </p-timeline>
    </div>
</p-panel>

<app-case-manager-drawer 
    [(visible)]="drawerVisible" 
    [data]="drawerData" 
    [icon]="icon"
    (delete)="deleteEntry($event)"
    (update)="updateEntry($event)"
    >
</app-case-manager-drawer>
