<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label for="date" class="form-label required">Date</label>
            <masked-calendar 
                formControlName="date"
            />
            <control-error controlName="date"></control-error>
        </div>

        <div class="field">
            <label class="form-label required">Performance status score system</label>
            <radio-select  
                formControlName="scoreType"
                [choices]="scoreTypeChoices"
                class="flex flex-wrap gap-4"/>
            <control-error controlName="scoreType"></control-error>
        </div>

        <div class="field" *ngIf="form.value.scoreType == 'ecog'">
            <label class="form-label required">ECOG Score</label>
            <p-select 
                [options]="ecogScores" 
                formControlName="ecogScore" 
                optionLabel="label" 
                optionValue="value" 
                placeholder="Select a choice"
                appendTo="body" 
                class="w-full md:w-56" />
            <control-error controlName="ecogScore"></control-error>
        </div>

        <div class="field" *ngIf="form.value.scoreType == 'karnofsky'">
            <label class="form-label required">Karnofsky score</label>
            <p-select                 
                [options]="karnofskyScores" 
                formControlName="karnofskyScore" 
                optionLabel="label" 
                optionValue="value" 
                placeholder="Select a choice"
                appendTo="body" 
                class="w-full md:w-56" />
            <control-error controlName="karnofskyScore"></control-error>
        </div>

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="loading"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>