<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label for="date" class="form-label">Date</label>
            <masked-calendar 
                formControlName="date"
            />
            <control-error controlName="date"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Height</label>
            <measure-input 
                formControlName="height"
                measure="Distance"/>
            <control-error controlName="height"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Weight</label>
            <measure-input 
                formControlName="weight"
                measure="Mass"/>
            <control-error controlName="weight"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Systolic blood pressure</label>
            <measure-input 
                formControlName="bloodPressureSystolic"
                measure="Pressure"/>
            <control-error controlName="bloodPressureSystolic"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Diastolic blood pressure</label>
            <measure-input 
                formControlName="bloodPressureDiastolic"
                measure="Pressure"/>
            <control-error controlName="bloodPressureDiastolic"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Temperature</label>
            <measure-input 
                formControlName="temperature"
                measure="Temperature"/>
            <control-error controlName="temperature"></control-error>
        </div>


        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="loading"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>