
.expand-nested-table-button {
    margin: auto 0;
    margin-right: .5rem !important;
}
.expand-nested-table-button .p-button{
    padding: .15rem;
    width: fit-content;
    height: fit-content;
}
.dataset-table-container {
    flex-grow: 1; 
    overflow-x: auto;
}
.dataset-table-container td, .dataset-table-container th {
    white-space: nowrap;
}
/* Make table header not overlap with menu items when expanded */
thead.p-datatable-thead {
    position: static !important;
}
span.p-tree-node-label {
    white-space: nowrap;
}
span.p-menu-item-label.ng-star-inserted {
    white-space: nowrap;
}
.p-checkbox.p-variant-filled:not(.p-checkbox-checked):has(minusicon) .p-checkbox-box {
    background-color: color-mix(in srgb, var(--p-primary-color), transparent 50%);
}