.monospace {
    font-family: monospace;
}
.property {
    margin-bottom: 1rem;
}
.property-label {
    font-size: .9rem;
    font-weight: bold;
}
.delete-action div,
.delete-action span{
    color: var(--p-button-outlined-danger-color) !important;
}
.delete-action:hover div,
.delete-action:hover span{
    color: var(--p-button-outlined-danger-color) !important;
}
.delete-action:hover div{
    background-color: var(--p-button-outlined-danger-active-background)  !important;
}