
p-dynamicdialog .pop-modal-form {
    border: none !important;
    min-width: 25%;
}

pop-modal-form-header {
    
    width: 100%;

    & .title {
        font-size: 1.2rem;
        font-weight: 550;
    }
    & .subtitle {
        font-size: .9rem;
    }
    & .p-avatar {
        line-height: 0 !important;
        padding: 1rem;
        color: var(--p-primary-color) !important;
        background: color-mix(in srgb, var(--p-primary-500), transparent 75%) !important;
    }
    & .form-close-button {
        background: none;
        color: var(--p-text-color);
        border: none;
        scale: 1.2;
    }

    & .p-divider {
        margin-bottom: 0 !important;
    }
}