
.theme-config-color-button {
    border-radius: 50% !important;
    border: none !important;
    margin-right: .25rem !important;
    margin-bottom: .25rem !important;
    aspect-ratio: 1;
    opacity: .9;
}

html.layout-theme-emerald .jdenticon {
    filter: hue-rotate(158deg);
}
html.layout-theme-green .jdenticon {
    filter: hue-rotate(142deg);
}
html.layout-theme-lime .jdenticon {
    filter: hue-rotate(84deg) saturate(.79) brightness(1.5);
}
html.layout-theme-red .jdenticon {
    filter: hue-rotate(0deg);
}
html.layout-theme-orange .jdenticon {
    filter: hue-rotate(27deg);
}
html.layout-theme-amber .jdenticon {
    filter: hue-rotate(43deg);
}
html.layout-theme-yellow .jdenticon {
    filter: hue-rotate(44deg) saturate(.79) brightness(1.5);
}
html.layout-theme-teal .jdenticon {
    filter: hue-rotate(174deg);
}
html.layout-theme-cyan .jdenticon {
    filter: hue-rotate(188deg);
}
html.layout-theme-sky .jdenticon {
    filter: hue-rotate(198deg);
}
html.layout-theme-blue .jdenticon {
    filter: hue-rotate(213deg);
}
html.layout-theme-indigo .jdenticon {
    filter: hue-rotate(248deg) ;
}
html.layout-theme-violet .jdenticon {
    filter: hue-rotate(255deg);
}
html.layout-theme-purple .jdenticon {
    filter: hue-rotate(270deg);
}
html.layout-theme-fuchsia .jdenticon {
    filter: hue-rotate(292deg);
}
html.layout-theme-pink .jdenticon {
    filter: hue-rotate(329deg);
}
html.layout-theme-rose .jdenticon {
    filter: hue-rotate(351deg);
}
