
.completion-rate-knob {
    margin: auto;
    width: fit-content;
}
.p-fieldset {
    background: light-dark(var(--p-surface-0), var(--p-surface-900));
}
.p-fieldset-legend {
    margin-bottom: .25rem;
    background: none !important;
    color: var(--p-primary-500) !important;
}
.p-fieldset {
    padding-bottom: .0rem !important;
    margin-bottom: 1rem !important;
    border-color: color-mix(in srgb, var(--p-primary-500), transparent 60%) !important;

}
.p-panel {
    border: none !important;
}
