<!-- Case summary -->
<div class="card flex py-4 " style="background: var(--p-content-background); color: var(--p-text-color); width: 50%;">
    <p-avatar size="xlarge" [style]="{'background': 'none', 'width': '5rem', 'height': '5rem', padding: '0'}" >
        <svg class="jdenticon my-auto" [data-jdenticon-value]="[pseudoidentifier]"></svg>
    </p-avatar>
    <div class="ml-3">
        CASE MANAGEMENT
        <h2 class="mb-0" style="font-family: monospace;">
            {{ pseudoidentifier }}
        </h2>
        <div *ngIf="case">
            {{ case.gender.display }}, 
            {{ case.age }} years
        </div>
    </div>
</div>

<!-- Case content -->
<div class="grid" *ngIf="caseId"> 
    <div class="col-12 md:col-6 lg:col-4">
        <h5 class="font-bold">
            Cancer Characterization
        </h5>
        <app-case-manager-panel
            title="Neoplastic Entities"
            [icon]="icons.neoplasticEntities"
            [caseId]="caseId"
            [formComponent]="NeoplasticEntityFormComponent"
            [service]="neoplasticEntityService"
            [category]="PatientCaseDataCategories.NeoplasticEntities"/>
            
        <app-case-manager-panel
            title="Stagings"
            [icon]="icons.stagings"
            [caseId]="caseId"
            [formComponent]="StagingFormComponent"
            [service]="stagingService"
            [category]="PatientCaseDataCategories.Stagings"/>

        <app-case-manager-panel
            title="Risk Assessments"
            [icon]="icons.riskAssessments"
            [caseId]="caseId"
            [formComponent]="RiskAssessmentFormComponent"
            [service]="riskAssessmentService"
            [category]="PatientCaseDataCategories.RiskAssessments"/>

        <app-case-manager-panel
            title="Tumor Markers"
            [icon]="icons.tumorMarkers"
            [caseId]="caseId"
            [formComponent]="TumorMarkerFormComponent"
            [service]="tumorMarkerService"
            [category]="PatientCaseDataCategories.TumorMarkers"/>

        <h5  class="font-bold mt-5">
            Genomics
        </h5>

        <app-case-manager-panel
            title="Genomic Variants"
            [icon]="icons.genomicVariants"
            [caseId]="caseId"
            [formComponent]="GenomicVariantFormComponent"
            [service]="genomicVariantService"
            [category]="PatientCaseDataCategories.GenomicVariants"/>

        <app-case-manager-panel
            title="Genomic Signatures"
            [icon]="icons.genomicSignatures"
            [caseId]="caseId"
            [formComponent]="GenomicSignatureFormComponent"
            [service]="genomicSignatureService"
            [category]="PatientCaseDataCategories.GenomicSignatures"/>

    </div>


    <div class="col-12 md:col-6 lg:col-4">
        <h5 class="font-bold">
            Therapy
        </h5>
        <app-case-manager-panel
            title="Systemic Treatments"
            [icon]="icons.systemicTherapies"
            [caseId]="caseId"
            [formComponent]="SystemicTherapyFormComponent"
            [service]="systemicTherapyService"
            [category]="PatientCaseDataCategories.SystemicTherapies"/>
            
        <app-case-manager-panel
            title="Surgical Procedures"
            [icon]="icons.surgeries"
            [caseId]="caseId"
            [formComponent]="SurgeryFormComponent"
            [service]="surgeryService"
            [category]="PatientCaseDataCategories.Surgeries"/>

        <app-case-manager-panel
            title="Radiotherapies"
            [icon]="icons.radiotherapies"
            [caseId]="caseId"
            [formComponent]="RadiotherapyFormComponent"
            [service]="radiotherapyService"
            [category]="PatientCaseDataCategories.Radiotherapies"/>


        <h5  class="font-bold mt-5">
            Profile
        </h5>

        <app-case-manager-panel
            title="Lifestyle"
            [icon]="icons.lifestyle"
            [caseId]="caseId"
            [formComponent]="LifestyleFormComponent"
            [service]="lifestyleService"
            [category]="PatientCaseDataCategories.Lifestyles"/>
            
        <app-case-manager-panel
            title="Familiy History"
            [icon]="icons.familyHistory"
            [caseId]="caseId"
            [formComponent]="FamilyHistoryFormComponent"
            [service]="familyHistoryService"
            [category]="PatientCaseDataCategories.FamilyHistories"/>
        
        <app-case-manager-panel
            title="Comorbidities"
            [icon]="icons.comorbidities"
            [caseId]="caseId"
            [formComponent]="ComorbiditiesAssessmentFormComponent"
            [service]="comorbiditiesAssessmentService"
            [category]="PatientCaseDataCategories.Comorbidities"/>

        <app-case-manager-panel
            title="Vitals"
            [icon]="icons.vitals"
            [caseId]="caseId"
            [formComponent]="VitalsFormComponent"
            [service]="vitalsService"
            [category]="PatientCaseDataCategories.Vitals"/>

    </div>


    <div class="col-12 md:col-6 lg:col-4">
        <h5 class="font-bold">
            Clinical Observations
        </h5>

        <app-case-manager-panel
            title="Tumor Boards"
            [icon]="icons.tumorBoards"
            [caseId]="caseId"
            [category]="PatientCaseDataCategories.TumorBoardReviews"/>
            
        <app-case-manager-panel
            title="Adverse Events"
            [icon]="icons.adverseEvents"
            [caseId]="caseId"
            [category]="PatientCaseDataCategories.AdverseEvents"/>

        <app-case-manager-panel
            title="Treatment Responses"
            [icon]="icons.treatmentResponses"
            [caseId]="caseId"
            [category]="PatientCaseDataCategories.TherapyResponses"/>

        <app-case-manager-panel
            title="Performance Status"
            [icon]="icons.performanceStatus"
            [caseId]="caseId"
            [formComponent]="PerformanceStatusFormComponent"
            [service]="performanceStatusService"
            [category]="PatientCaseDataCategories.PerformanceStatus"/>

    </div>
</div>
<app-dynamic-modal-form [caseId]="caseId"></app-dynamic-modal-form>