<!-- Case summary -->
<div class="card flex py-4 " style="background: var(--p-content-background); color: var(--p-text-color); width: 50%;">
    <p-avatar size="xlarge" [style]="{'background': 'none', 'width': '5rem', 'height': '5rem', padding: '0'}" >
        <svg class="jdenticon my-auto" [data-jdenticon-value]="[pseudoidentifier]"></svg>
    </p-avatar>
    <div class="ml-3">
        CASE MANAGEMENT
        <h2 class="mb-0" style="font-family: monospace;">
            {{ pseudoidentifier }}
        </h2>
        <div *ngIf="case">
            {{ case.gender.display }}, 
            {{ case.age }} years
        </div>
    </div>
</div>

<!-- Case content -->
<div class="grid" *ngIf="caseId"> 
    <div class="col-12 md:col-6 lg:col-4">
        <h5 class="font-bold">
            Cancer Characterization
        </h5>
        <app-case-manager-panel
            title="Neoplastic Entities"
            [icon]="icons.neoplasticEntities"
            [caseId]="caseId"
            [formComponent]="NeoplasticEntityFormComponent"
            [service]="neoplasticEntityService"/>
            
        <app-case-manager-panel
            title="Stagings"
            [icon]="icons.stagings"
            [caseId]="caseId"
            [formComponent]="StagingFormComponent"
            [service]="stagingService"/>

        <app-case-manager-panel
            title="Risk Assessments"
            [icon]="icons.riskAssessments"
            [caseId]="caseId"
            [formComponent]="RiskAssessmentFormComponent"
            [service]="riskAssessmentService"/>

        <app-case-manager-panel
            title="Tumor Markers"
            [icon]="icons.tumorMarkers"
            [formComponent]="TumorMarkerFormComponent"
            [service]="tumorMarkerService"/>

        <h5  class="font-bold mt-5">
            Pathology
        </h5>

        <app-case-manager-panel
            title="Genomic Variants"
            [icon]="icons.genomicVariants"/>

        <app-case-manager-panel
            title="Genomic Signatures"
            [icon]="icons.genomicSignatures"/>

    </div>


    <div class="col-12 md:col-6 lg:col-4">
        <h5 class="font-bold">
            Therapy
        </h5>
        <app-case-manager-panel
            title="Systemic Treatments"
            [icon]="icons.systemicTherapies"
            [formComponent]="SystemicTherapyFormComponent"
            [service]="systemicTherapyService"/>
            
        <app-case-manager-panel
            title="Surgical Procedures"
            [icon]="icons.surgeries"/>

        <app-case-manager-panel
            title="Radiotherapies"
            [icon]="icons.radiotherapies"/>


        <h5  class="font-bold mt-5">
            Profile
        </h5>

        <app-case-manager-panel
            title="Lifestyle"
            [icon]="icons.lifestyle"/>
            
        <app-case-manager-panel
            title="Comorbidities"
            [icon]="icons.comorbidities"/>

        <app-case-manager-panel
            title="Vitals"
            [icon]="icons.vitals"/>

    </div>


    <div class="col-12 md:col-6 lg:col-4">
        <h5 class="font-bold">
            Clinical Observations
        </h5>

        <app-case-manager-panel
            title="Tumor Boards"
            [icon]="icons.tumorBoards"/>
            
        <app-case-manager-panel
            title="Adverse Events"
            [icon]="icons.adverseEvents"/>

        <app-case-manager-panel
            title="Treatment Responses"
            [icon]="icons.treatmentResponses"/>

        <app-case-manager-panel
            title="Performance Status"
            [icon]="icons.performanceStatus"
            [formComponent]="PerformanceStatusFormComponent"
            [service]="performanceStatusService"/>

    </div>
</div>
<app-dynamic-modal-form [caseId]="caseId"></app-dynamic-modal-form>