<div class="formgrid grid p-fluid">
    <form  [formGroup]="form" (ngSubmit)="onSave()">
        <div class="field col">
            <label class="form-label">Gender</label>
            <coded-concept-select 
                terminology="AdministrativeGender"
                [control]="form.controls['gender']"/>
            <control-error controlName="gender"></control-error>
        </div>

        <div class="field col">
            <label class="form-label">Date of Birth </label>
            <p-calendar 
                formControlName="dateOfBirth"
                view="month" 
                dateFormat="mm/yy" 
                placeholder="MM/YYYY" 
                dataType="string"
                appendTo="body"
                dateMask />
            <control-error controlName="dateOfBirth"></control-error>
        </div>
        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-5"  
            [loading]="loading"
            [disabled]="form.invalid" />
    </form>
</div>  