
<div class="flex flex-column">
    <h2 class="mb-0 font-semibold">
        Data Hub - 
        @if (isUserPage()) {
            My Contributions
        } @else {
            Case Explorer
        }
    </h2>
    <div class="text-muted">
        @if (isUserPage()) {
            Welcome to your personal contributions page. You can find all patient cases to which you have contributed.
        } @else {
            Welcome to the case explorer. You can find all existing patient cases here.
        }
    </div>    
</div>

<p-toolbar styleClass="my-3 border-transparent">

    <ng-template #start>
        <div class="mt-auto ml-3">
            <div class="text-muted"><small>Total cases</small></div>
            @if (cases.isLoading()) {
                <p-skeleton width="4rem" height="2rem"/>
            } @else {
                <div class="text-center text-3xl font-semibold" [ngxCountAnimation]="totalCases()" duration="500"></div>
            }
        </div>        
    </ng-template>

    <ng-template #end>
        <div class="flex">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search"/>
                <input type="text" pInputText placeholder="Search" [(ngModel)]="searchQuery"/>
            </p-iconfield>
            <p-button 
                icon="pi pi-sync"
                title="Refresh cases"
                severity="secondary"
                (onClick)="cases.reload()"/>
            <!-- <p-button 
                label="Filters" 
                icon="pi pi-filter"
                title="Manage filters"
                severity="secondary"/> -->
            <p-divider layout="vertical"></p-divider>
            <!-- Button to add new cases -->
            <p-button 
                (onClick)="openNewCaseForm()" 
                [disabled]="!currentUser().canManageCases"
                label="Register Case"
                [icon]="currentUser().canManageCases ? 'pi pi-plus' : 'pi pi-lock'"/>
        </div>
    </ng-template>

</p-toolbar>
    



<p-dataView
    styleClass="pop-case-search-dataview"
    [value]="cases.value() || [1,2,3]"
    [paginator]="true" 
    [rows]="pagination().limit" 
    layout="grid"
    sortField="createdAt"
    lazy="true"
    [rowsPerPageOptions]="pageSizeChoices"
    [totalRecords]="totalCases()"
    (onLazyLoad)="pagination.set({limit: $event.rows, offset: $event.first})"
    class="no-background">

    <ng-template #grid let-data>
        <div class="grid mt-3" >
            @if (cases.hasValue()) {
                @for (case of data; track case.id; let first = $first) {
                    <div class="col p-2">
                        <pop-case-search-item 
                        @fadeAnimation
                        [case]="case"
                        (onDelete)="cases.reload()"/>
                    </div>                
                }
            } @else if (cases.isLoading()) {
                @for (_ of [].constructor(15); track $index; let first = $first;) { 
                    <div class="col p-2">
                        <div class="pop-case-search-item-card placeholder" @fadeAnimation>
                            <div class="flex my-3">
                                <p-skeleton width="5rem" height="5rem"/>
                                <div class="flex flex-column mx-3">
                                    <p-skeleton width="10rem" height="1.5rem" class="mb-2 mt-3" />    
                                    <p-skeleton width="20rem" height="1.5rem"/>      
                                </div>
                            </div>
                            <div class="mb-3 mt-4">
                                <p-skeleton width="100%" height="2rem"/>
                            </div>
                            <div class="my-3 mb-5">
                                <p-skeleton width="100%" height="2rem"/>
                            </div>
                            <p-skeleton class="my-3 ml-auto"  width="20rem" height="2rem"/>      
                        </div>
                    </div>
                }
            } @else if (cases.error()) {
                <div>An error ocurred while loading the cases</div>
            }
        </div>
    </ng-template>
</p-dataView>