<p-drawer [(visible)]="visible" position="right" (onHide)="visibleChange.emit(false)" >
    <ng-template #header>
        <div class="drawer-header flex items-center gap-2">
            <p-avatar 
                size="large" 
                shape="square" 
                [style]="{ 'background': 'color-mix(in srgb, var(--p-primary-500), transparent 75%)', color: 'var(--p-primary-500)' }">
                <lucide-angular [img]="icon"></lucide-angular>
            </p-avatar>
            <div class="font-bold my-auto">{{data.description || 'Unknown'}}</div>
        </div>
    </ng-template>

    <div class="property">
        <small class="property-label">Database ID</small>
        <div class="monospace"><small>{{ data.id }}</small></div>
    </div>

    <p-divider/>

    <pop-drawer-properties [data]="data"/>

    <p-divider/>

    <div class="mb-5">
        @if (data.createdBy) {
            <div class="property">
                <small class="property-label">Created by: </small>
                <pop-user-badge [username]="data.createdBy" class="my-auto mr-2"/>
                <div><small>{{ data.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</small></div>
            </div>
        }
        @if (data.updatedBy && data.updatedBy.length && data.updatedBy[0]) {
            <div class="property">
                <small class="property-label">Last updated by: </small>
                @if (data.updatedBy[data.updatedBy.length-1]; as lastUpdatedBy) {
                    <pop-user-badge [username]="lastUpdatedBy" class="my-auto mr-2"/>
                }
                <div><small>{{ data.updatedAt | date: 'dd/MM/yyyy HH:mm:ss' }}</small></div>
            </div>
        }
    </div>


    <ng-template #footer>
    
        
        <div class="flex items-center gap-2">
            <p-button 
                label="Hide" 
                icon="pi pi-eye-slash" 
                class="w-full" 
                severity="secondary"
                (click)="visibleChange.emit(false)"
                outlined/>
            <p-confirmdialog />
            <p-splitbutton 
                label="Edit" 
                [disabled]="!authService.user.canManageCases"
                [buttonDisabled]="!editable"
                [icon]="authService.user.canManageCases? 'pi pi-pencil' : 'pi pi-lock'" 
                dropdownIcon="pi pi-cog" 
                (onClick)="visibleChange.emit(false); update.emit(data)"
                [model]="actionItems" 
                outlined/>
        </div>

    </ng-template>
</p-drawer>