<p-drawer [(visible)]="visible" position="right" (onHide)="visibleChange.emit(false)" [styleClass]="styleClass()" >
    <ng-template #header>
        <p-avatar size="large" shape="square">
            <lucide-angular [img]="icon()"></lucide-angular>
        </p-avatar>
        <div class="font-bold my-auto ml-3">{{data().description || 'Unknown'}}</div>
    </ng-template>

    <div class="property">
        <small class="property-label">Database ID</small>
        <div class="monospace"><small>{{ data().id }}</small></div>
    </div>
    @if (data().externalSource) {    
        <div class="property">
            <small class="property-label">External Source</small>
            <div class="monospace"><small>{{ data().externalSource }}</small></div>
        </div>
        <div class="property">
            <small class="property-label">External Source ID</small>
            <div class="monospace"><small>{{ data().externalSourceId }}</small></div>
        </div>
    }

    <p-divider/>
    <pop-drawer-properties [data]="data()"/>

    <p-divider/>

    <div>
        <i class="pi pi-history"></i> History
        @if (history.hasValue()) {
        <p-timeline [value]="history.value()" class="pop-case-manager-drawer-history">
            <ng-template pTemplate="content" let-event>
                <pop-user-badge [username]="event.user"/>
                <div>
                    <div class="timeline-event-date">
                        <small>{{ event.timestamp | date: 'MMM d, y, h:mm' }}</small>
                    </div>
                    <div class="timeline-event-category">
                        <small>
                            @switch (event.category) {
                                @case ('create') {
                                    <i class="pi pi-sparkles"></i> Created resource
                                }
                                @case ('update') {
                                    <i class="pi pi-pencil"></i> Updated {{ (event.differential | keyvalue).length }} {{ event.differential.length > 1 ? 'properties' : 'property'}}
                                }
                                @case ('export') {
                                    <i class="pi pi-file-export"></i> Exported resource
                                }
                            }
                        </small>
                    </div>                                                
                </div>              
            </ng-template>
        </p-timeline>
        } @else if (history.isLoading()) {
            <p-skeleton height="4rem"></p-skeleton>
        }
    </div>

    <ng-template #footer>
    
        
        <div class="flex items-center gap-2">
            <p-button 
                label="Hide" 
                icon="pi pi-eye-slash" 
                class="w-full" 
                severity="secondary"
                (click)="visibleChange.emit(false)"
                outlined/>
            <p-confirmdialog />
            <p-splitbutton 
                label="Edit" 
                [disabled]="!currentUser().canManageCases"
                [buttonDisabled]="!editable()"
                [icon]="currentUser().canManageCases? 'pi pi-pencil' : 'pi pi-lock'" 
                dropdownIcon="pi pi-cog" 
                (onClick)="visibleChange.emit(false); update.emit(data())"
                [model]="actionItems()" 
                outlined/>
        </div>

    </ng-template>
</p-drawer>