<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="submitFormData()">

        <div class="field">
            <label for="date" class="form-label required">Date</label>
            <pop-datepicker 
                formControlName="date"
            />
            <pop-form-control-error controlName="date"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label">Gene panel</label>
            <input type="text" 
                pInputText 
                formControlName="genePanel" 
                placeholder="Enter a value, e.g. FoundationOneCDx"
                />           
            <small class="help-text">Commercial or official name of the gene panel used in the test to detect this variant.</small>
            <pop-form-control-error controlName="genePanel"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label required">Analysis method</label>
            <pop-concept-selector 
                formControlName="analysisMethod"
                terminology="StructuralVariantAnalysisMethod"
                [showSynonyms]="false"/>
            <pop-form-control-error controlName="analysisMethod"></pop-form-control-error>
        </div>

        <div class="field flex flex-column">
            <label class="form-label">Assessment</label>
            <p-selectbutton  
                formControlName="assessment"
                [options]="assessmentChoices"
                optionLabel="name" optionValue="value"/>
            <pop-form-control-error controlName="assessment"></pop-form-control-error>
        </div>

        <div class="field flex flex-column">
            <label class="form-label">Variant call confidence</label>
            <p-selectbutton  
                formControlName="confidence"
                [options]="confidenceChoices"
                optionLabel="name" optionValue="value"/>
            <pop-form-control-error controlName="confidence"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label">Clinical relevance</label>
            <p-select 
                formControlName="clinicalRelevance" 
                [options]="clinicalRelevanceChoices" 
                optionLabel="name" 
                optionValue="value" 
                placeholder="Select an option" 
                appendTo="body" 
                />
            <pop-form-control-error controlName="clinicalRelevance"></pop-form-control-error>
        </div>


        <p-fieldset legend="Variant description">

            <div class="field">
                <label class="form-label required">Gene(s) affected</label>
                <pop-concept-selector 
                    formControlName="genes"
                    terminology="Gene"
                    [showSynonyms]="true"
                    [multiple]="true"/>
                <small class="help-text">Gene(s) affected by this variant.</small>
                <pop-form-control-error controlName="genes"></pop-form-control-error>
            </div>

            <p-divider></p-divider>

            <label class="form-label">HGVS Annotation</label>

            <div class="field text-muted mt-2">
                <p>
                    <small>
                        The variant must be at-least described at DNA-level using a HGVS expression. Description at RNA- and protein-level is optional and will 
                        provide additional information about the upstream consequences of the variant.
                        For the HGVS nomenclature, please refer to the <a href="https://hgvs-nomenclature.org/stable/" target="_blank">HGVS nomenclature specification</a>
                    </small>
                </p>
            </div>

            <div class="field">
                <label class="form-label required">DNA-level description</label>
                <input type="text" 
                    pInputText 
                    formControlName="dnaHgvs" 
                    placeholder="Enter a value, e.g. NM_005228.5:c.2369C>T or NG_00019.3:g.11225562C>T"
                    />                      
                <pop-form-control-error controlName="dnaHgvs"></pop-form-control-error>
            </div>

            <div class="field">
                <label class="form-label">RNA-level description</label>
                <input type="text" 
                    pInputText 
                    formControlName="rnaHgvs" 
                    placeholder="Enter a value, e.g. NM_000050.2:r.2369c>t"
                    />                      
                <pop-form-control-error controlName="rnaHgvs"></pop-form-control-error>
            </div>

            <div class="field">
                <label class="form-label">Protein-level description</label>
                <input type="text" 
                    pInputText 
                    formControlName="proteinHgvs" 
                    placeholder="Enter a value, e.g. NP_000050.2:p.(Asn1836Lys)"
                    />                      
                <pop-form-control-error controlName="proteinHgvs"></pop-form-control-error>
            </div>

            <p-divider></p-divider>
    
            <div class="field">
                <label class="form-label">Copy number</label>
                <p-inputnumber 
                    formControlName="copyNumber" 
                    placeholder="Enter a value, e.g. 2"
                    [min]="0"/>
                <small class="help-text">Genomic structural variant copy number. Applicable to large deletion/duplication structural variants</small>
                <pop-form-control-error controlName="copyNumber"></pop-form-control-error>
            </div>

            <div class="field">
                <label class="form-label">Molecular Consequence</label>
                <pop-concept-selector 
                    formControlName="molecularConsequence"
                    terminology="MolecularConsequence"
                    [showSynonyms]="true"/>
                <small class="help-text">The calculated or observed effect of a variant on its downstream transcript and, if applicable, ensuing protein sequence.</small>
                <pop-form-control-error controlName="molecularConsequence"></pop-form-control-error>
            </div>
        </p-fieldset>
        

        <p-fieldset legend="Context">
            <div class="field">
                <label class="form-label">Allele frequency</label>
                <p-inputnumber 
                    formControlName="alleleFrequency" 
                    placeholder="Enter a value, e.g. 0.75"
                    mode="decimal"
                    min="0"
                    max="1"
                    [minFractionDigits]="1"
                    [maxFractionDigits]="3"
                    locale="en-US"/>
                <small class="help-text">The relative frequency (value in range [0,1]) of the allele at a given locus in the sample.</small>
                <pop-form-control-error controlName="alleleFrequency"></pop-form-control-error>
            </div>

            <div class="field">
                <label class="form-label">Allele read depth</label>
                <p-inputnumber 
                    formControlName="alleleDepth" 
                    placeholder="Enter a value, e.g. 275"
                    [min]="0"/>
                <small class="help-text">Specifies the number of reads that identified the allele in question whether it consists of one or a small sequence of contiguous nucleotides.</small>
                <pop-form-control-error controlName="alleleDepth"></pop-form-control-error>
            </div>
            
            <div class="field">
                <label class="form-label">Zygosity</label>
                <pop-concept-selector 
                    formControlName="zygosity"
                    terminology="Zygosity"
                    [showSynonyms]="true"/>
                <pop-form-control-error controlName="zygosity"></pop-form-control-error>
            </div>
            
            <div class="field flex flex-column">
                <label class="form-label">Inheritance type</label>
                <pop-concept-selector 
                    formControlName="inheritance"
                    terminology="VariantInheritance"
                    widget="selectbutton"
                    [showSynonyms]="true"/>
                <pop-form-control-error controlName="inheritance"></pop-form-control-error>
            </div>

            <div class="field">
                <label class="form-label">ClinVar Identifier</label>
                <input type="text" 
                    pInputText 
                    formControlName="clinvar" 
                    placeholder="Enter a value, e.g. VCV000016613.35"
                    />     
                <small class="help-text">Accession number in the ClinVar variant database, for cross-reference.</small>
                <pop-form-control-error controlName="clinvar"></pop-form-control-error>
            </div>
        </p-fieldset>


        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>