@let statistics = statistics$ | async;

<div class="flex flex-wrap gap-5 mx-4">
    <div class="data-statistic">
        <p-skeleton *ngIf="!statistics"></p-skeleton>
        <div *ngIf="statistics" class="data-statistic-number" [ngxCountAnimation]="statistics.cases" duration="1000"></div>
        <div class="data-statistic-label text-muted"><small>Patient cases</small></div>
    </div>    
    <div class="data-statistic">
        <p-skeleton *ngIf="!statistics"></p-skeleton>
        <div *ngIf="statistics" class="data-statistic-number" [ngxCountAnimation]="statistics.entries" duration="1000"></div>
        <div class="data-statistic-label text-muted"><small>Data entries</small></div>
    </div>    
    <div class="data-statistic">
        <p-skeleton *ngIf="!statistics"></p-skeleton>
        <div *ngIf="statistics" class="data-statistic-number" [ngxCountAnimation]="statistics.primarySites" duration="1000"></div>
        <div class="data-statistic-label text-muted"><small>Primary Sites</small></div>
    </div>    
    <div class="data-statistic">
        <p-skeleton *ngIf="!statistics"></p-skeleton>
        <div *ngIf="statistics" class="data-statistic-number" [ngxCountAnimation]="statistics.mutations" duration="1000"></div>
        <div class="data-statistic-label text-muted"><small>Mutations</small></div>
    </div>    
    <div class="data-statistic">
        <p-skeleton *ngIf="!statistics"></p-skeleton>
        <div *ngIf="statistics" class="data-statistic-number" [ngxCountAnimation]="statistics.contributors" duration="1000"></div>
        <div class="data-statistic-label text-muted"><small>Contributors</small></div>
    </div>    
    <div class="data-statistic">
        <p-skeleton *ngIf="!statistics"></p-skeleton>
        <div *ngIf="statistics" class="data-statistic-number" [ngxCountAnimation]="statistics.clinicalCenters" duration="1000"></div>
        <div class="data-statistic-label text-muted"><small>Clinical Centers</small></div>
    </div>    
    <div class="data-statistic">
        <p-skeleton *ngIf="!statistics"></p-skeleton>
        <div *ngIf="statistics" class="data-statistic-number" [ngxCountAnimation]="statistics.projects" duration="1000"></div>
        <div class="data-statistic-label text-muted"><small>Projects</small></div>
    </div>    
</div>


<div class="mt-4 mb-2">
    <h6 class="mb-0 font-semibold">Growth over time</h6>
</div>
<div class="w-100" >
    @let casesOverTimeData = casesOverTimeData$ | async;
    <ng-container *ngIf="casesOverTimeData">
        <p-chart type="line" [data]="chartData" [options]="chartOptions" class="w-100" style="height: 10rem;"/>
    </ng-container>
    <ng-container *ngIf="!chartData">
        <p-skeleton *ngIf="!statistics" height="15rem" class="w-100"></p-skeleton>
    </ng-container>
</div>