<p-panel 
    [toggleable]="true" 
    [collapsed]="true" 
    toggler="header" 
    collapseIcon="pi pi-angle-down" 
    expandIcon="pi pi-angle-up" 
    styleClass="mb-3">
    <ng-template #header>
        <div class="flex align-items-center gap-3">
            <p-avatar 
                size="normal" 
                shape="square" 
                [style]="{ 'background-color': 'color-mix(in srgb, var(--p-primary-500), transparent 80%)', color: 'var(--p-primary-500)' }">
                <lucide-angular [name]="icon" ></lucide-angular>
            </p-avatar>
            <span style="font-size: 1.1rem;">
                {{ title }}
            </span>
            <p-badge [value]="entries.length" [severity]="entries.length ? 'primary' : 'secondary'" />
        </div>

        <span class="pi pi-cog cursor-pointer ml-auto" (click)="menu.toggle($event)"></span>
        <p-menu #menu id="config_menu" [model]="menuItems" [popup]="true" />
    </ng-template>
    

    <div class="ml-2">
        <div *ngIf="entries.length == 0" class="p-text-secondary">
            No entries associated with this case
        </div>
        <p-timeline [value]="entries" *ngIf="entries.length > 0">
            <ng-template pTemplate="content" let-entry>
                <div (click)="showDrawer(entry)" class="cursor-pointer">
                    <div>
                        <small class="p-text-secondary">{{ 
                            entry.date || entry.assertionDate | date }}</small>
                    </div>
                    <div>
                        {{ entry.description }}
                    </div>
                </div>
                
            </ng-template>
        </p-timeline>
    </div>
</p-panel>

<app-case-manager-drawer 
    [(visible)]="drawerVisible" 
    [data]="drawerData" 
    [icon]="icon"
    (delete)="deleteEntry($event)"
    (update)="updateEntry($event)"
    >
</app-case-manager-drawer>
