<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label class="form-label required">Tumor board specialty</label>
            <p-select  
                formControlName="category"
                [options]="tumorBoardSpecialtyChoices"
                optionLabel="name"
                placeholder="Select a specialty"
                appendTo="body" 
                optionValue="value"/>
            <control-error controlName="category"></control-error>
        </div>

        <div class="field">
            <label for="date" class="form-label required">Date of the tumor board</label>
            <masked-calendar 
                formControlName="date"
            />
            <control-error controlName="date"></control-error>
        </div>

        @let relatedEntities = relatedEntities$ | async;
        <div class="field">
            <label class="form-label required">Neoplastic entities that were focus of the board</label>
            <reference-multiselect 
            formControlName="relatedEntities"
            [references]="relatedEntities || []"/>
            <control-error controlName="relatedEntities"></control-error>
        </div>


        <div class="field">
            <label class="form-label">Board recommendation(s)</label>
            <coded-concept-select 
                formControlName="recommendations"
                [terminology]="form.value.category == TumorBoardSpecialties.Molecular ? 'MolecularTumorBoardRecommendation' :'TumorBoardRecommendation'"
                [showSynonyms]="true"
                [multiple]="true"/>
            <control-error controlName="recommendations"></control-error>
        </div>
        
        <ng-container *ngIf="form.value.category == TumorBoardSpecialties.Molecular">
        
            @let relatedReports = relatedReports$ | async;
            <div class="field">
                <label class="form-label required">Reviewed genetic test(s)</label>
                <p-multiselect  
                formControlName="reviewedReports"
                [options]="relatedReports || []"
                optionLabel="name"
                optionValue="value"
                placeholder="Select genetic tests"
                class="flex flex-wrap gap-4"/>
                <control-error controlName="reviewedReports"></control-error>
            </div>   

            <div class="field">
                <label class="form-label required">Was a molecular comparison conducted?</label>
                <radio-select  
                formControlName="conductedMolecularComparison"
                [choices]="YesNoChoices"
                class="flex flex-wrap gap-4"/>
                <control-error controlName="conductedMolecularComparison"></control-error>
            </div>        

            <div *ngIf="form.value.conductedMolecularComparison" class="field ml-3">
                <label class="form-label required">Was it successful?</label>
                <radio-select  
                formControlName="succeededMolecularComparison"
                [choices]="YesNoChoices"
                class="flex flex-wrap gap-4"/>
                <control-error controlName="succeededMolecularComparison"></control-error>
            </div>  

            <ng-container *ngIf="form.value.succeededMolecularComparison">
                @let relatedPrimaryEntities = relatedPrimaryEntities$ | async;
                <div class="field ml-3">
                    <label for="relatedPrimary" class="form-label required">Matching primary neoplastic entity</label>
                    <p-select 
                    [options]="relatedPrimaryEntities || []" 
                    formControlName="molecularComparisonMatch"
                    optionLabel="description" 
                    optionValue="id"
                    placeholder="Select an option" />
                    <control-error controlName="molecularComparisonMatch"></control-error>
                </div>
            </ng-container>
        
            <div class="field">
                <label class="form-label required">Was a CUP characterization conducted</label>
                <radio-select  
                formControlName="conductedCupCharacterization"
                [choices]="YesNoChoices"
                class="flex flex-wrap gap-4"/>
                <control-error controlName="conductedCupCharacterization"></control-error>
            </div>        
            
            <div class="field ml-3" *ngIf="form.value.conductedCupCharacterization">
                <label class="form-label required">Was a it succesful?</label>
                <radio-select  
                formControlName="characterizedCup"
                [choices]="YesNoChoices"
                class="flex flex-wrap gap-4"/>
                <control-error controlName="characterizedCup"></control-error>
            </div>        

        </ng-container>
        
        <div *ngIf="form.value.category == TumorBoardSpecialties.Molecular" formArrayName="therapeuticRecommendations">
            @let relatedEvidence = relatedEvidence$ | async;
            <ng-container *ngFor="let control of molecularTherapeuticRecommendationsFormArray.controls; let i = index" >
                <p-fieldset  legend="Molecular therapeutic recommendation" [toggleable]="false" [formGroupName]="i" [collapsed]="false">
                    <p-button icon="pi pi-times" (click)="removeMolecularTherapeuticRecommendation(i)" class="subform-remove-button"/>
                    <div class="mt-3">
                        <div class="field">
                            <label class="form-label required">Type of recommendation</label>
                            <radio-select  
                            formControlName="recommendationType"
                            [choices]="TherapeuticRecommendationTypeChoices"
                            class="flex flex-wrap gap-4"/>
                        </div>  
                        <div class="field">
                            <label class="form-label required">Based on which evidence?</label>
                            <reference-multiselect 
                            formControlName="supportingEntries"
                            [references]="relatedEvidence || []"/>
                        </div>
                        <ng-container *ngIf="control.value.recommendationType == TherapeuticRecommendationType.ClinicalTrial">
                            <div class="field">
                                <label class="form-label required">Clinical Trial</label>
                                <p-inputmask 
                                    mask="NCT99999999" 
                                    formControlName="clinicalTrial"
                                    placeholder="NCT12345678" />
                            </div>
                        </ng-container>
                        <ng-container *ngIf="control.value.recommendationType == TherapeuticRecommendationType.Drugs">
                            <div class="field">
                                <label class="form-label required">Medication(s)</label>
                                <coded-concept-select 
                                    formControlName="drugs"
                                    terminology="AntineoplasticAgent"
                                    [showSynonyms]="true"
                                    [multiple]="true"/>
                            </div>
                            <div class="field">
                                <label class="form-label required">Expected effect</label>
                                <coded-concept-select 
                                    formControlName="expectedEffect"
                                    terminology="ExpectedDrugAction"
                                    [showSynonyms]="false"/>
                            </div>
                            <div class="field">
                                <label class="form-label required">Adherence to clinical practices</label>
                                <radio-select  
                                formControlName="withinSoc"
                                [choices]="YesNoChoices"
                                class="flex flex-wrap gap-4"/>
                            </div>  
                            <div class="field">
                                <label class="form-label required">Adherence to medication label</label>
                                <radio-select  
                                formControlName="offLabelUse"
                                [choices]="YesNoChoices"
                                class="flex flex-wrap gap-4"/>
                            </div>  
                        </ng-container>
                    </div>
                </p-fieldset>
            </ng-container>
            <p-button icon="pi pi-plus" label="Add therapeutic recommendation" (click)="addMolecularTherapeuticRecommendation()" class="subform-add-button"/>
        </div>

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-4"  
            [loading]="loading"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>