
<div class="cohort-search-item card flex-column flex-grow-0 p-3 gap-3 mb-3">
    
    <div class="flex gap-3">

        <div class="flex flex-column mb-3 ">
            <small class="text-muted mb-1">Population</small>
            <div class="flex my-auto gap-1">
                <lucide-angular class="cohort-search-item-icon" [img]="populationIcon"></lucide-angular>
                <div class="my-auto">
                    <span style="font-size: 1.5rem;">{{ cohort.population }}</span>               
                </div>
            </div>
        </div>

        <div class="flex flex-column">
            <small class="text-muted mb-1">Cohort</small>
            <h5 class="cohort-search-item-title">{{cohort.name}}</h5>
        </div>


        <div class="flex flex-column ml-auto">
            <div class="cohort-search-item-chip text-md mt-2">
                <p-chip *ngIf="cohort.isPublic" label="Public" icon="pi pi-lock-open" class="is-public-chip"/>
                <p-chip *ngIf="!cohort.isPublic" label="Private" icon="pi pi-unlock" class="is-public-chip"/>
            </div>
        </div>
    </div>
    <div class="flex gap-3">

        @let statistics = statistics$ | async;
        <div class="flex flex-column">
            <small class="text-muted mb-1">Average age</small>
            <div class="flex my-auto gap-1">
                <div class="my-auto" *ngIf="statistics else ageSkeleton">
                    <span style="font-size: 1.2rem;">{{ statistics.ageAverage || '-' }} <small>years</small></span>               
                </div>
                <ng-template #ageSkeleton>
                    <p-skeleton [style]="{ width: '4rem', height: '1rem' }"></p-skeleton>      
                </ng-template>
            </div>
        </div>

        <div class="flex flex-column">
            <small class="text-muted mb-1">Average completion</small>
            <div class="flex my-auto gap-1">
                <div class="my-auto" *ngIf="statistics else completionSkeleton">
                    <span style="font-size: 1.2rem;">{{ statistics.dataCompletionAverage ?? '-' }}% <small>complete</small></span>               
                </div>
                <ng-template #completionSkeleton>
                    <p-skeleton [style]="{ width: '6rem', height: '1rem' }"></p-skeleton>      
                </ng-template>
            </div>
        </div>
    
        <div class="flex flex-column">
            <small class="text-muted mb-1">Last updated</small>
            <div class="flex my-auto gap-1">
                <div>{{cohort.updatedAt | date }}</div>
            </div>
        </div>


        <div class="ml-auto">
            <p-confirmdialog />
            <p-splitbutton
                label="Open cohort"
                class="mt-auto"
                [menuButtonDisabled]="!authService.user.canManageCohorts"
                [dropdownIcon]="authService.user.canManageCohorts? 'pi pi-cog' : 'pi pi-lock'" 
                [model]="actionItems"
                (onClick)="openCohortManagement()" />
        </div>
    </div>
</div>
