<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <div inlineSVG="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo" class="pop-logo mr-3"></div>
        <div>
            <div class="layout-topbar-title text-xl">
                Precision Oncology Platform
            </div>
            <div class="layout-topbar-version">
                Release {{version}}
            </div>
        </div>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-button [icon]="themeModeIcon" [rounded]="true" [outlined]="true" (onClick)="toggleDarkMode()" class="my-auto mr-3 btn-secondary"/>

        <p-button icon="pi pi-user" [rounded]="true" (onClick)="profile.toggle($event)" />
        <p-tieredMenu #profile [model]="profile_items" [popup]="true" />

    </div>
</div>