@use '_variables.scss' as vars; 

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 5.25rem 0rem 1.5rem 2rem;
    transition: margin-left vars.$transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}

.p-confirmdialog {
    overflow: auto !important;
    width: min-content !important;
    min-width: 20% !important;
}


.p-toast-message {
    border-left: 6px solid !important;
}
