<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label for="relationship" class="form-label required">Neoplastic relation category</label>
            <p-select 
            [options]="relationshipOptions" 
            formControlName="relationship"
            optionLabel="name" 
            optionValue="code"
            placeholder="Select an option" />
            <control-error controlName="relationship"></control-error>
        </div>

        <div class="field">
            <label for="assertionDate" class="form-label required">Assertion date</label>
            <pop-datepicker 
                formControlName="assertionDate"
            />
            <control-error controlName="assertionDate"></control-error>
        </div>

        <div class="field" *ngIf="requiresPrimary">
            <label for="relatedPrimary" class="form-label required">Related primary neoplasm</label>
            <p-select 
            [options]="relatedPrimaries" 
            formControlName="relatedPrimary"
            optionLabel="description" 
            optionValue="id"
            placeholder="Select an option" />
            <control-error controlName="relatedPrimary"></control-error>
        </div>

        <div class="field">
            <label for="topography" class="form-label required">Topography</label>
            <coded-concept-select 
                terminology="CancerTopography"
                [showCodes]="true"
                formControlName="topography"/>
            <control-error controlName="topography"></control-error>
        </div>
        <div class="field">
            <label for="morphology" class="form-label required">Morphology</label>
            <coded-concept-select 
                [terminology]="morphologyTerminology"
                [showCodes]="true"
                formControlName="morphology"/>
            <control-error controlName="morphology"></control-error>
        </div>

        <div class="field">
            <label for="laterality" class="form-label">Laterality</label>
            <coded-concept-select 
                terminology="LateralityQualifier"
                [showSynonyms]="false"
                formControlName="laterality"/>
            <control-error controlName="laterality"></control-error>
        </div>

        <div class="field">
            <label for="differentiation" class="form-label">Histological differentiation</label>
            <coded-concept-select 
                terminology="HistologyDifferentiation"
                formControlName="differentiation"/>
            <control-error controlName="differentiation"></control-error>
        </div>

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="loading"
            [disabled]="form.invalid" />
    </form>
</p-fluid>
 