.p-drawer-right {
    min-width: 25% !important;
}

.monospace {
    font-family: monospace;
}
.property {
    margin-bottom: .75rem;
}
.property-label {
    font-size: .9rem;
    font-weight: bold;
}
.drawer-property-tree .p-tree-root {
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    margin-bottom: -1rem;
    overflow: hidden !important;
}
.drawer-property-tree .p-tree-node-content {
    display: flex !important;
}
.drawer-property-tree .p-tree-node-toggle-button {
    order: 1;
    margin-left: -.25rem;
}

.drawer-header lucide-angular {
    width: var(--p-avatar-lg-width); 
    text-align: center;
}
.drawer-header lucide-angular > svg {
    margin: auto;
    display: flex;
}