<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="flex flex-wrap">

            <div class="field">
                <label class="form-label required">Treatment period</label>
                <masked-calendar 
                    formControlName="period"
                    selectionMode="range"
                    placeholder="DD/MM/YYYY - DD/MM/YYYY"
                />
                <control-error controlName="period"></control-error>
            </div>


            <div class="field ml-5" style="width: 25%">
                <label class="form-label required">Cycles</label>
                <p-inputnumber 
                formControlName="cycles"
                placeholder="Enter value" 
                useGrouping="false"
                suffix=" cycle(s)"/>
                <control-error controlName="cycles"></control-error>
            </div>
        </div>

        <div class="field">
            <label class="form-label required">Neoplastic entities targeted</label>
            <reference-multiselect 
            formControlName="targetedEntities"
            [references]="relatedEntities"/>
            <control-error controlName="targetedEntities"></control-error>
        </div>

        <div class="field">
            <label class="form-label required">Medication(s)</label>
            <coded-concept-select 
                formControlName="drugs"
                terminology="AntineoplasticAgent"
                [showSynonyms]="true"
                [multiple]="true"/>
            <control-error controlName="drugs"></control-error>
        </div>

        <div class="field">
            <label class="form-label required">Intent</label>
            <radio-select  
            formControlName="intent"
            [choices]="intentChoices"
            class="flex flex-wrap gap-4"/>
            <control-error controlName="intent"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Role</label>
            <coded-concept-select 
                formControlName="role"
                terminology="TreatmentCategory"
                [showSynonyms]="false"/>
            <control-error controlName="role"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Termination reason</label>
            <coded-concept-select 
                formControlName="terminationReason"
                terminology="TreatmentTerminationReason"
                [showSynonyms]="false"/>
            <control-error controlName="terminationReason"></control-error>
        </div>

        <div formArrayName="medications">
            <ng-container *ngFor="let control of medicationFormArray.controls; let i = index" >
                <p-fieldset  [toggleable]="true" [formGroupName]="i" [collapsed]="true">
                    <ng-template #header>
                        {{control.value.drug.display}} - Administration details
                    </ng-template>
                    <div class="mt-3">
                        <div class="field">
                            <label class="form-label">Administration route</label>
                            <coded-concept-select 
                                formControlName="route"
                                terminology="DosageRoute"
                                [showSynonyms]="true"/>
                        </div>
                        <div class="field">
                            <label class="form-label required">Dosage type</label>
                            <radio-select  
                            formControlName="dosageType"
                            [choices]="dosageTypeChoices"
                            class="flex flex-wrap gap-4"/>
                        </div>
                        <div class="field">
                            <label class="form-label">Dosage</label>
                            <div class="no-entries-text" *ngIf="!control.value.dosageType">Select a dosage type first</div>
                            <measure-input 
                                *ngIf="control.value.dosageType == 'Mass'" 
                                formControlName="dosageMass"
                                measure="Mass"/>
                            <measure-input 
                                *ngIf="control.value.dosageType == 'MassConcentration'" 
                                formControlName="dosageMassConcentration"
                                measure="MassConcentration"/>
                            <measure-input 
                                *ngIf="control.value.dosageType == 'Volume'" 
                                formControlName="dosageVolume"
                                measure="Volume"/>
                            <measure-input 
                                *ngIf="control.value.dosageType == 'MassPerSurface'" 
                                formControlName="dosageMassSurface"
                                measure="MassPerArea"/>
                        </div>
                        <div class="field">
                            <label class="form-label">Dosage rate</label>
                            <div class="no-entries-text" *ngIf="!control.value.dosageType">Select a dosage type first</div>
                            <measure-input 
                                *ngIf="control.value.dosageType == 'Mass'" 
                                formControlName="dosageRateMass"
                                measure="MassPerTime"/>
                            <measure-input 
                                *ngIf="control.value.dosageType == 'MassConcentration'" 
                                formControlName="dosageRateMassConcentration"
                                measure="MassConcentrationPerTime"/>
                            <measure-input 
                                *ngIf="control.value.dosageType == 'Volume'" 
                                formControlName="dosageVolume"
                                measure="VolumePerTime"/>
                            <measure-input 
                                *ngIf="control.value.dosageType == 'MassPerSurface'" 
                                formControlName="dosageRateMassSurface"
                                measure="MassPerAreaPerTime"/>
                        </div>
                    </div>
                </p-fieldset>
            </ng-container>
        </div>
        
        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-4"  
            [loading]="loading"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>