<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label for="date" class="form-label required">Date</label>
            <pop-datepicker 
                formControlName="date"
            />
            <pop-form-control-error controlName="date"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label required">Genomic signature category</label>
            <p-select  
                formControlName="category"
                [options]="signatrureCategoryChoices"
                optionLabel="name"
                placeholder="Select a category"
                appendTo="body" 
                optionValue="value"/>
            <pop-form-control-error controlName="category"></pop-form-control-error>
        </div>

        @switch (form.value.category) {
            @case (genomicSignatureTypes.TumorMutationalBurden) {
                <div class="field">
                    <label class="form-label required">Value</label>
                    <p-inputnumber 
                        formControlName="tumorMutationalBurdenValue"
                        placeholder="Enter value" 
                        suffix=" Muts/Mb"
                        mode="decimal"
                        [min]="0"
                        [minFractionDigits]="1"
                        [maxFractionDigits]="3"/>
                    <pop-form-control-error controlName="tumorMutationalBurdenValue"></pop-form-control-error>
                </div>
        
                <div class="field">
                    <label class="form-label">Status</label>
                    <pop-radio-select  
                        formControlName="tumorMutationalBurdenStatus"
                        [choices]="tumorMutationalBurdernStatusChoices"
                        class="flex flex-wrap gap-4"/>
                    <pop-form-control-error controlName="tumorMutationalBurdenStatus"></pop-form-control-error>
                </div>
            }
            @case (genomicSignatureTypes.MicrosatelliteInstability) {
                <div class="field">
                    <label class="form-label required">Value</label>
                    <pop-concept-selector 
                        formControlName="microsatelliteInstabilityValue"
                        terminology="MicrosatelliteInstabilityState"
                        [showSynonyms]="false"/>    
                    <pop-form-control-error controlName="microsatelliteInstabilityValue"></pop-form-control-error>
                </div>
            }
            @case (genomicSignatureTypes.LossOfHeterozygosity) {
                <div class="field">
                    <label class="form-label required">Value</label>
                    <p-inputnumber 
                        formControlName="lossOfHeterozygosityValue"
                        placeholder="Enter value" 
                        suffix="%"
                        mode="decimal"
                        [min]="0"
                        [max]="100"
                        [minFractionDigits]="1"
                        [maxFractionDigits]="3"/>
                    <pop-form-control-error controlName="lossOfHeterozygosityValue"></pop-form-control-error>
                </div>
            }
            @case (genomicSignatureTypes.HomologousRecombinationDeficiency) {
                <div class="field">
                    <label class="form-label">Value</label>
                    <p-inputnumber 
                        formControlName="homologousRecombinationDeficiencyValue"
                        placeholder="Enter value" 
                        suffix=" Neoantigens/Mb"
                        mode="decimal"
                        [min]="0"
                        [minFractionDigits]="1"
                        [maxFractionDigits]="3"/>
                    <pop-form-control-error controlName="homologousRecombinationDeficiencyValue"></pop-form-control-error>
                </div>
                <div class="field">
                    <label class="form-label">Interpretation</label>
                    <pop-radio-select  
                        formControlName="homologousRecombinationDeficiencyInterpretation"
                        [choices]="homologousRecombinationDeficiencyInterpretationChoices"
                        class="flex flex-wrap gap-4"/>
                    <pop-form-control-error controlName="homologousRecombinationDeficiencyInterpretation"></pop-form-control-error>
                </div>
            }
            @case (genomicSignatureTypes.TumorNeoantigenBurden) {
                <div class="field">
                    <label class="form-label required">Value</label>
                    <p-inputnumber 
                        formControlName="tumorNeoantigenBurdenValue"
                        placeholder="Enter value" 
                        suffix=" Neoantigens/Mb"
                        mode="decimal"
                        [min]="0"
                        [minFractionDigits]="1"
                        [maxFractionDigits]="3"/>
                    <pop-form-control-error controlName="tumorNeoantigenBurdenValue"></pop-form-control-error>
                </div>
            }
            @case (genomicSignatureTypes.AneuploidScore) {
                <div class="field">
                    <label class="form-label required">Value</label>
                    <p-inputnumber 
                        formControlName="aneuploidScoreValue"
                        placeholder="Enter value" 
                        suffix=" altered arms"
                        mode="decimal"
                        [min]="0"
                        [max]="39"
                        [minFractionDigits]="0"
                        [maxFractionDigits]="3"/>
                    <pop-form-control-error controlName="aneuploidScoreValue"></pop-form-control-error>
                </div>

            }
        }

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />
                
    </form>
</p-fluid>