<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()" >

        <div class="field">
            <label class="form-label required">Cohort title</label>
            <input type="text" pInputText formControlName="name" />
            <pop-form-control-error controlName="name"></pop-form-control-error>
        </div>

        <div class="field">
            <div class="flex">
                <p-toggleswitch formControlName="isPublic" />
                <label class="form-label ml-2 my-auto required">Make cohort publicly available</label>
                <pop-form-control-error controlName="isPublic"></pop-form-control-error>
            </div>
            <small>Public cohorts can be updated by other users collaboratively. Private cohorts can only be updated by the user who created them. All cohorts are visible and accessible to all users.</small>
        </div>

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />

    </form>
</p-fluid>  