<p-fluid>
    <form  [formGroup]="form()" (ngSubmit)="submitFormData()" >

        <div class="field">
            <label class="form-label required">Cohort title</label>
            <input type="text" pInputText formControlName="name" />
            <pop-form-control-error controlName="name"></pop-form-control-error>
        </div>


        <div class="field">
            <label class="form-label required">Project associated to this cohort</label>
            <p-select 
            [options]="relatedProjects.value() || []" 
            formControlName="project"
            optionLabel="title" 
            optionValue="id"
            appendTo="body"
            placeholder="Select a project" />
        </div>

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form().invalid" />

    </form>
</p-fluid>  