<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label for="date" class="form-label required">Date of the event</label>
            <pop-datepicker 
                formControlName="date"
            />
            <pop-form-control-error controlName="date"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label required">Adverse event</label>
            <pop-concept-selector 
                formControlName="event"
                terminology="AdverseEventTerm"
                [showSynonyms]="false"/>
            <pop-form-control-error controlName="event"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label required">Grade</label>
            <div>
                @if (form.value.event) {
                    @for (option of form.value.event | getEventGrades; track option.grade;) {
                        <div class="field-checkbox">
                            <p-radiobutton 
                                [inputId]="option.description" 
                                [value]="option.grade" 
                                formControlName="grade" />
                            <label [for]="option.description" class="ml-2">
                                Grade {{ option.grade }}
                                <br>
                                <small class="text-muted">{{ option.description }}</small>
                            </label>
                        </div>    
                    }
                } @else {
                    Please select an adverse event first
                }
            </div>
            <pop-form-control-error controlName="grade"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label required">Outcome</label>
            <p-select 
            [options]="outcomeChoices" 
            formControlName="outcome"
            optionLabel="name" 
            optionValue="value"
            appendTo="body"
            placeholder="Select an option" />
            <pop-form-control-error controlName="outcome"></pop-form-control-error>
        </div>

        @if (form.value.outcome === AdverseEventOutcomeChoices.Resolved || form.value.outcome === AdverseEventOutcomeChoices.ResolvedWithSequelae) {
            <div class="field">
                <label for="date" class="form-label required">Date when the event was resolved</label>
                <pop-datepicker 
                    formControlName="dateResolved"/>
                <pop-form-control-error controlName="dateResolved"></pop-form-control-error>
            </div>    
        }

        <div formArrayName="suspectedCauses">
            @for (control of suspectedCausesFormArray.controls; track $index; let i = $index) {
                <p-fieldset legend="Suspected cause" [toggleable]="false" [formGroupName]="i" [collapsed]="false">
                    <p-button icon="pi pi-times" (click)="removeSuspectedCause(i)" class="subform-remove-button"/>

                    <div class="field">
                        <label class="form-label required">Suspect</label>
                        <p-select 
                        [options]="relatedSuspectedCauses.value() || []" 
                        formControlName="cause"
                        optionLabel="description" 
                        optionValue="id"
                        appendTo="body"
                        placeholder="Select an option" />
                    </div>

                    <div class="field">
                        <label class="form-label required">Causality</label>
                        <p-select 
                        [options]="causalityChoices" 
                        formControlName="causality"
                        optionLabel="name" 
                        optionValue="value"
                        appendTo="body"
                        placeholder="Select an option" />
                    </div>

                </p-fieldset>
            }
            <p-button icon="pi pi-plus" label="Add suspected cause" (click)="addSuspectedCause()" class="subform-add-button"/>
        </div>
        

        <div formArrayName="mitigations">
            @for (control of mitigationsFormArray.controls; track $index; let i = $index) {
                <p-fieldset  legend="Mitigation" [toggleable]="false" [formGroupName]="i" [collapsed]="false">
                    <p-button icon="pi pi-times" (click)="removeMitigation(i)" class="subform-remove-button"/>

                    <div class="field">
                        <label class="form-label required">Mitigation strategy</label>
                        <pop-radio-select  
                        formControlName="category"
                        [choices]="mitigationCategoryChoices"
                        class="flex flex-column gap-1"/>
                    </div>        
                    
                    <div class="field">
                        @switch (control.value.category) {
                            @case (AdverseEventMitigationCategoryChoices.Adjustment) {
                                <label class="form-label required">Type of Adjustment</label>
                                <pop-concept-selector 
                                    formControlName="adjustment"
                                    terminology="AdverseEventMitigationTreatmentAdjustment"
                                    [showSynonyms]="false"/>
                            }
                            @case (AdverseEventMitigationCategoryChoices.Pharmacological) {
                                <label class="form-label">Pharmacological treatment</label>
                                <pop-concept-selector 
                                    formControlName="drug"
                                    terminology="AdverseEventMitigationDrug"
                                    [showSynonyms]="true"/>
                            }
                            @case (AdverseEventMitigationCategoryChoices.Procedure) {
                                <label class="form-label">Procedure</label>
                                <pop-concept-selector 
                                    formControlName="procedure"
                                    terminology="AdverseEventMitigationProcedure"
                                    [showSynonyms]="false"/>
                            }
                        }
                    </div>

                    <div class="field">
                        <label class="form-label">Management</label>
                        <pop-concept-selector 
                            formControlName="management"
                            terminology="AdverseEventMitigationManagement"
                            [showSynonyms]="false"/>
                    </div>
                    
                </p-fieldset>
            }
            <p-button icon="pi pi-plus" label="Add mitigation" (click)="addMitigation()" class="subform-add-button"/>
        </div>

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-4"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>