<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="submitFormData()">

        <div class="field">
            <label for="date" class="form-label required">Date</label>
            <onconova-datepicker 
                formControlName="date"
            />
            <onconova-form-control-error controlName="date"></onconova-form-control-error>
        </div>

        <div class="field">
            <label class="form-label required">Performance status score system</label>
            <onconova-radio-select  
                formControlName="scoreType"
                [choices]="scoreTypeChoices"
                class="flex flex-wrap gap-4"/>
            <onconova-form-control-error controlName="scoreType"></onconova-form-control-error>
        </div>

        @switch (form.value.scoreType) {
            @case ('ecog') {
                <div class="field">
                    <label class="form-label required">ECOG Score</label>
                    <p-select 
                        [options]="ecogScores.value() || []" 
                        formControlName="ecogScore" 
                        optionLabel="label" 
                        optionValue="value" 
                        placeholder="Select a choice"
                        appendTo="body" 
                        class="w-full md:w-56" />
                    <onconova-form-control-error controlName="ecogScore"></onconova-form-control-error>
                </div>                        
            }
            @case ('karnofsky') {
                <div class="field">
                    <label class="form-label required">Karnofsky score</label>
                    <p-select                 
                        [options]="karnofskyScores.value() || []" 
                        formControlName="karnofskyScore" 
                        optionLabel="label" 
                        optionValue="value" 
                        placeholder="Select a choice"
                        appendTo="body" 
                        class="w-full md:w-56" />
                    <onconova-form-control-error controlName="karnofskyScore"></onconova-form-control-error>
                </div>        
            }
        }

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>