@let case = case$ | async;

<div class="mb-3">
    <p-button label="Return" severity="secondary" icon="pi pi-chevron-left" (click)="location.back()"/>
    <p-button
        label="Export case"
        [style]="{'float': 'right'}"
        [disabled]="!authService.user.canExportData"
        [icon]="authService.user.canExportData ? 'pi pi-file-export' : 'pi pi-lock'"
        [loading]="exportLoading"
        (click)="downloadCaseBundle(case?.id || '')"/>
</div>

<!-- Case summary -->
<div class="card flex py-3 header" style="background: var(--p-content-background); color: var(--p-text-color); width: fit-content;">
    <pop-identicon [value]="pseudoidentifier"/>
    <div class="ml-3 my-auto">
        <small class="text-muted">Patient case</small>
        <h2 class="text-monospace my-0">
            {{ pseudoidentifier }}
        </h2>
        <div>
            @if (case) {
                <i [class]="case.gender.code == 'male' ? 'pi pi-mars' : 'pi pi-venus'"></i> {{ case.gender.display }}, 
                {{ case.age }} years@if(case.isDeceased){, †}
            } @else {
                <p-skeleton width="7rem" height="1.2rem" />
            }
        </div>    
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="">
        @let primaryEntity = primaryEntity$ | async;
        @if (case) {
            <div class="flex">
                @if (primaryEntity) {
                <pop-cancer-icon class="my-auto mr-2" [topography]="primaryEntity.topography.code"/>
                }
                <div>
                    <small class="text-muted">Primary site</small>
                    @if (primaryEntity !== undefined) {
                        <div>
                            @if (primaryEntity) {
                                {{ primaryEntity.topography.display }}
                            } @else {
                                -
                            }
                        </div>
                    } @else {
                        <p-skeleton width="12rem" height="1.5rem" />
                    }  
                </div>
            </div>
            <small class="text-muted">Morphology</small>
            @if (primaryEntity !== undefined) {
                <div>
                    @if (primaryEntity) {
                        {{ primaryEntity.morphology.display }}
                    } @else {
                        -
                    }
                </div>
            }  @else {
                <p-skeleton width="12rem" height="1.5rem" />
            }  
        } 
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="">
        <div class="text-left">
            <small class="text-muted">Latest staging</small>
            <div>
                @let latestStaging = latestStaging$ | async;
                @if (case) {
                    @if (latestStaging) {
                        {{ latestStaging.description }}
                    } @else {
                        -
                    }
                } @else {
                    <p-skeleton width="12rem" height="1.5rem" />
                }      
            </div>
        </div> 

        <div class="text-left mt-1">
            <small class="text-muted">Age at diagnosis</small>
            <div>
                @if (case) {
                    @if (case.overallSurvival !== null) {
                        {{ case.ageAtDiagnosis | number:'1.0-0' }} years
                    } @else {
                        -
                    }
                } @else {
                    <p-skeleton width="12rem" height="1.5rem" />
                }      
            </div>
        </div> 
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="">
        <div class="text-left">
            <small class="text-muted">Overall survival</small>
            <div>
                @if (case) {
                    @if (case.overallSurvival !== null) {
                        {{ case.overallSurvival | number:'1.0-0' }} months
                    } @else {
                        -
                    }
                } @else {
                    <p-skeleton width="12rem" height="1.5rem" />
                }      
            </div>
        </div> 

        <div class="text-left mt-1">
            <small class="text-muted">Cause of death</small>
            <div>
                @if (case) {
                    {{ case.causeOfDeath ? case.causeOfDeath.display : '-' }}
                } @else {
                    <p-skeleton width="12rem" height="1.5rem" />
                }      
            </div>
        </div> 
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="">
        <div class="text-left">
            <small class="text-muted">Clinical center</small>
            <div>
                @if (case) {
                    {{ case.clinicalCenter }}      
                } @else {
                    <p-skeleton width="12rem" height="1.5rem" />
                }
            </div>
        </div> 

        <div class="text-left mt-1">
            <small class="text-muted">Clinical Identifier</small>
            <div>
                @if (case) {
                    @if (authService.user.canAccessSensitiveData) {
                        {{ case.clinicalIdentifier}}
                    } @else {
                        <span style="opacity: 0.45;">🞸🞸🞸🞸🞸🞸🞸</span>
                    }
                } @else {
                    <p-skeleton width="12rem" height="1.5rem" />
                }
            </div>
        </div> 
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="text-center">
        <small class="text-muted">Completion</small>
        @if (case) {
            <p-knob [ngModel]="totalCompletion | number:'1.0-0'" 
                    styleClass="mt-2"
                    [readonly]="true" 
                    valueTemplate="{value}%"
                    [size]="55"/>
        } @else {
            <p-skeleton width="5rem" height="5rem" />     
        }
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="">
        <div class=flex>
            @if (case) {
                @if (case.createdBy) {
                    <pop-user-badge [user]="case.createdBy" class="my-auto mr-2"/>
                }
            } @else {
                <p-skeleton width="4rem" height="4rem" />                    
            }
            <div class="text-left">
                <small class="text-muted">Registration</small>
                <div>
                    @if (case) {
                        {{ case.createdAt | date }}
                    } @else {
                        <p-skeleton width="7rem" height="1.5rem" />                    
                    }
                </div>
            </div> 
        </div>

        <div class=flex>
            @if (case) {
                @if (case.updatedBy && case.updatedBy[case.updatedBy.length-1]) {
                    <pop-user-badge [user]="case.updatedBy[case.updatedBy.length-1]" class="my-auto mr-2"/>
                }
            } @else {
                <p-skeleton width="4rem" height="4rem" />                    
                }
            <div class="text-left mt-1">
                <small class="text-muted">Last updated</small>
                <div>
                    @if (case) {
                        {{ case.updatedAt | date }}
                    } @else {
                        <p-skeleton width="7rem" height="1.5rem"/>
                    }      
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- Case content -->
@if (case) {
    <div class="grid"> 
        <div class="col-12 md:col-6 lg:col-4">

            <p-fieldset legend="Cancer Characterization">

                <pop-case-manager-panel
                    title="Neoplastic Entities"
                    [icon]="icons.neoplasticEntities"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="NeoplasticEntityFormComponent"
                    [service]="neoplasticEntityService"
                    [category]="PatientCaseDataCategories.NeoplasticEntities"/>
                    
                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Stagings"
                    [icon]="icons.stagings"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="StagingFormComponent"
                    [service]="stagingService"
                    [category]="PatientCaseDataCategories.Stagings"/>

                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Risk Assessments"
                    [icon]="icons.riskAssessments"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="RiskAssessmentFormComponent"
                    [service]="riskAssessmentService"
                    [category]="PatientCaseDataCategories.RiskAssessments"/>

                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Tumor Markers"
                    [icon]="icons.tumorMarkers"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="TumorMarkerFormComponent"
                    [service]="tumorMarkerService"
                    [category]="PatientCaseDataCategories.TumorMarkers"/>

            </p-fieldset>


            <p-fieldset legend="Genomics">

                <pop-case-manager-panel
                    title="Genomic Variants"
                    [icon]="icons.genomicVariants"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="GenomicVariantFormComponent"
                    [service]="genomicVariantService"
                    [category]="PatientCaseDataCategories.GenomicVariants"/>

                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Genomic Signatures"
                    [icon]="icons.genomicSignatures"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="GenomicSignatureFormComponent"
                    [service]="genomicSignatureService"
                    [category]="PatientCaseDataCategories.GenomicSignatures"/>

            </p-fieldset>
        </div>


        <div class="col-12 md:col-6 lg:col-4 px-3">

            <p-fieldset legend="Therapy">
                <pop-case-manager-panel
                    title="Systemic Treatments"
                    [icon]="icons.systemicTherapies"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="SystemicTherapyFormComponent"
                    [service]="systemicTherapyService"
                    [category]="PatientCaseDataCategories.SystemicTherapies"/>
                    
                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Surgical Procedures"
                    [icon]="icons.surgeries"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="SurgeryFormComponent"
                    [service]="surgeryService"
                    [category]="PatientCaseDataCategories.Surgeries"/>

                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Radiotherapies"
                    [icon]="icons.radiotherapies"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="RadiotherapyFormComponent"
                    [service]="radiotherapyService"
                    [category]="PatientCaseDataCategories.Radiotherapies"/>
            </p-fieldset>


            <p-fieldset legend="Profile">
                <pop-case-manager-panel
                    title="Lifestyle"
                    [icon]="icons.lifestyle"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="LifestyleFormComponent"
                    [service]="lifestyleService"
                    [category]="PatientCaseDataCategories.Lifestyles"/>
                    
                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Familiy History"
                    [icon]="icons.familyHistory"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="FamilyHistoryFormComponent"
                    [service]="familyHistoryService"
                    [category]="PatientCaseDataCategories.FamilyHistories"/>
                
                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Comorbidities"
                    [icon]="icons.comorbidities"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="ComorbiditiesAssessmentFormComponent"
                    [service]="comorbiditiesAssessmentService"
                    [category]="PatientCaseDataCategories.ComorbiditiesAssessments"/>

                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Vitals"
                    [icon]="icons.vitals"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="VitalsFormComponent"
                    [service]="vitalsService"
                    [category]="PatientCaseDataCategories.Vitals"/> 
            </p-fieldset>
        </div>


        <div class="col-12 md:col-6 lg:col-4">
 
            <p-fieldset legend="Clinical Observations">

                <pop-case-manager-panel
                    title="Tumor Boards"
                    [icon]="icons.tumorBoards"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [category]="PatientCaseDataCategories.TumorBoardReviews"
                    [formComponent]="TumorBoardFormComponent"
                    [service]="tumorBoardService"/>

                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Adverse Events"
                    [icon]="icons.adverseEvents"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [category]="PatientCaseDataCategories.AdverseEvents"
                    [formComponent]="AdverseEventFormComponent"
                    [service]="adverseEventService"/>
                
                <p-divider></p-divider>

                <pop-case-manager-panel
                    title="Treatment Responses"
                    [icon]="icons.treatmentResponses"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [category]="PatientCaseDataCategories.TherapyResponses"
                    [formComponent]="TreatmentResponseFormComponent"
                    [service]="treatmentResponseService"/>
                
                <p-divider></p-divider>
                
                <pop-case-manager-panel
                    title="Performance Status"
                    [icon]="icons.performanceStatus"
                    [caseId]="case.id"
                    (onCompletionChange)="updateCompletion($event)"
                    [formComponent]="PerformanceStatusFormComponent"
                    [service]="performanceStatusService"
                    [category]="PatientCaseDataCategories.PerformanceStatus"/>
            </p-fieldset>
        </div>
    </div>
} @else {
    <div class="grid">
        @for (n of [].constructor(6); track $index) {
            <div class="col-12 md:col-6 lg:col-4">
                <p-skeleton width="10rem" height="2rem" styleClass="mt-4" />
                <p-skeleton height="5rem" styleClass="mt-3"/>
                <p-skeleton height="5rem" styleClass="mt-3"/>
                <p-skeleton height="5rem" styleClass="mt-3"/>
                <p-skeleton height="5rem" styleClass="mt-3"/>
            </div>            
        }
    </div>
}