
.pop-logo {
    color: var(--p-primary-color);
}

.layout-topbar .pop-logo svg {
    height: 3rem;
    width: 3rem;
}

.layout-footer .pop-logo svg {
    height: 1.5rem;
    width: 1.5rem;
}


html.teal-theme .jdenticon {
    filter: hue-rotate(174deg);
}

html .jdenticon {
    filter: hue-rotate(213deg);
}
  