<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="submitFormData()">

        <div class="field">
            <label for="date" class="form-label">Date</label>
            <pop-datepicker 
                formControlName="date"
            />
            <pop-form-control-error controlName="date"></pop-form-control-error>
        </div>


        <div class="field">
            <label class="form-label">Smoking status</label>
            <pop-concept-selector 
                formControlName="smokingStatus"
                terminology="SmokingStatus"
                [showSynonyms]="false"/>
            <pop-form-control-error controlName="smokingStatus"></pop-form-control-error>
        </div>

        @if (form.value.smokingStatus?.code && form.value.smokingStatus?.code !== smokingStatusCodeClassification.neverSmoker) {
            <div class="field">
                <label class="form-label">Smoking pack-years</label>
                <p-inputnumber 
                    formControlName="smokingPackyears"
                    placeholder="Enter value" 
                    useGrouping="false"
                    suffix=" pack-year(s)"/>
                <pop-form-control-error controlName="smokingPackyears"></pop-form-control-error>
            </div>    
        } 
        @if (form.value.smokingStatus?.code && smokingStatusCodeClassification.exSmoker === form.value.smokingStatus?.code) {
            <div class="field">
                <label class="form-label">Time since quitting smoking</label>
                <pop-measure-input 
                    formControlName="smokingQuited"
                    measure="Time"
                    defaultUnit="year"/>
                <pop-form-control-error controlName="smokingQuited"></pop-form-control-error>
            </div>
        }

        <div class="field">
            <label class="form-label">Alcohol consumption</label>
            <pop-concept-selector 
                formControlName="alcoholConsumption"
                terminology="AlcoholConsumptionFrequency"
                [showSynonyms]="true"/>
            <pop-form-control-error controlName="alcoholConsumption"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label">Recreational drugs</label>
            <pop-concept-selector 
                formControlName="recreationalDrugs"
                terminology="RecreationalDrug"
                [showSynonyms]="true"
                [multiple]="true"/>
            <pop-form-control-error controlName="recreationalDrugs"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label">Night sleep</label>
            <pop-measure-input 
                formControlName="nightSleep"
                measure="Time"
                defaultUnit="hour"/>
            <pop-form-control-error controlName="nightSleep"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label">Environmental or occupational exposure(s)</label>
            <pop-concept-selector 
                formControlName="exposures"
                terminology="ExposureAgent"
                [showSynonyms]="true"
                [multiple]="true"/>
            <pop-form-control-error controlName="exposures"></pop-form-control-error>
        </div>

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>