
div.banner.p-card {
    background-color: light-dark(var(--p-primary-100), var(--p-primary-900))!important;
}
div.banner-content {
    position: relative;
    height: 100%;
    width: 100%;
}
div.banner-content-text {
    width: 65%;
} 
div.illustration {
    position: absolute;
    right: 0%;
    transform: translateY(-11rem) scaleX(-1);
    width: 22rem;
}

.illustration {
    color: var(--p-primary-color);
}

@media (max-width: 1100px) {
    div.banner-content-text {
        width: 55%;
    } 
    div.illustration {
        width: 24rem;
    }
}
@media (max-width: 800px) {
    div.banner-content-text {
        width: 100%;
    } 
    div.illustration {
        display: none;
    }
}
