<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()" >

        <div class="field">
            <label class="form-label required">Cohort name</label>
            <input type="text" pInputText formControlName="name" />
            <control-error controlName="name"></control-error>
        </div>

        <div class="field flex">
            <p-toggleswitch formControlName="isPublic" />
            <label class="form-label ml-2 my-auto required">Make cohort publicly available</label>
            <control-error controlName="isPublic"></control-error>
        </div>
        <small>By making a cohort public, everyone will be able to see and use the cohort. As a trade-off you will have access to the full database.</small>


        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="loading"
            [disabled]="form.invalid" />

    </form>
</p-fluid>  