<p-toast></p-toast>
<div class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="POP logo" class="mb-5 w-6rem flex-shrink-0">                
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--p-primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px; background: var(--p-content-background) !important;">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome!</div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>

                <form (ngSubmit)="login()">
                    <label for="username" class="block text-900 text-xl font-medium mb-2">Username</label>
                    <input id="username" type="text" required="true" name="username"  [(ngModel)]="username" placeholder="Username" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                    <input id="password1" type="password" name="password" placeholder="Password" [(ngModel)]="password" pInputText class="w-full p-3 md:w-30rem mb-5">

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--p-primary-color)">Forgot password?</a>
                    </div>
                    <p-button type="submit" label="Sign In" styleClass="w-full p-3 text-xl"  [loading]="loading"></p-button>
                </form>
            </div>
        </div>
    </div>
</div>
