
<p-card>
    <p-panel header="Demographics" [toggleable]="true">

        <div class="flex">
            <div class="flex flex-column">

                <div class="font-semibold">Patient Traits</div>
                <div class="text-muted mb-2">
                    Basic statistics over the demographical composition of the cohort.
                </div>
                <div class="flex mx-auto my-3 gap-3">
                    <div>
                        @let genderCount = genderCount$ | async;
                        <pop-doughnut-graph
                            *ngIf="!loading && genderCount" 
                            [countData]="genderCount"/>
                        <p-skeleton height="10rem" width="15rem" *ngIf="loading || !genderCount"/>
                    </div>
                    <div>
                        @let vitalStatusCount = vitalStatusCount$ | async;
                        <pop-doughnut-graph
                            *ngIf="!loading && vitalStatusCount" 
                            [countData]="vitalStatusCount"/>
                        <p-skeleton height="10rem" width="15rem" *ngIf="loading || !genderCount"/>
                    </div>
                </div>

                <div>
                    <div class="mt-3 mr-4">
                        @let ageCount = ageCount$ | async;
                        <pop-distribution-graph
                            *ngIf="!loading && ageCount" 
                            [countData]="ageCount"/>
                        <p-skeleton height="15rem" *ngIf="loading || !ageCount"/>
                    </div>
                </div>

            </div>

            <div class="ml-4">
                <div class="font-semibold">Age at diagnosis</div>
                <div class="text-muted mb-2">
                    Distribution of age at the time of the diagnosis of the first primary neoplastic entity. 
                </div>
                <div class="mt-3 mr-4">
                    @let ageAtDiagnosisCount = ageAtDiagnosisCount$ | async;
                    <pop-distribution-graph
                        *ngIf="!loading && ageAtDiagnosisCount" 
                        [countData]="ageAtDiagnosisCount"/>
                    <p-skeleton height="15rem" *ngIf="loading || !ageAtDiagnosisCount"/>
                </div>
            </div>
        </div>    
    
    </p-panel>
    

    <p-panel header="Outcomes" [toggleable]="true" styleClass="mt-4">
        
        <div class="font-semibold">Overall survival (OS)</div>
        <div class="text-muted mb-2">
            Kaplan-Meier survival analysis of the overall survival of the patients in the cohort since the initial diagnosis. 
        </div>
        @let overallSurvivalCurve = overallSurvivalCurve$ | async;
        <pop-kappler-meier-curve 
            *ngIf="overallSurvivalCurve" 
            [survivalData]="overallSurvivalCurve"/>    
        <p-skeleton height="30rem" width="60%" *ngIf="loading || !overallSurvivalCurve"/>

    </p-panel>

    <p-panel header="Therapy lines" [toggleable]="true" styleClass="mt-4">
        
        <div class="text-muted mb-1">
            Select the therapy line to analyze
        </div>
        @let therapyLinesCount = therapyLinesCount$ | async;
        <p-selectbutton 
            *ngIf="therapyLinesCount"
            [options]="therapyLineOptions || []" 
            [(ngModel)]="selectedTherapyLine" 
            (onChange)="updateTherapyLineGraphs($event)"/>


        <div class="font-semibold mt-4">Progression-free survival (PFS)</div>
        <div class="text-muted mb-2">
            Kaplan-Meier survival analysis of the progression-free survival of the patients in the cohort during the therapy line. 
        </div>    
        @let therapyLineSurvivalCurve = therapyLineSurvivalCurve$ | async;
        <pop-kappler-meier-curve 
            *ngIf="therapyLineSurvivalCurve" 
            [survivalData]="therapyLineSurvivalCurve"/>    
        <p-skeleton height="30rem" width="60%" *ngIf="loading || !therapyLineSurvivalCurve"/>

        <div class="font-semibold mt-4">Performance of Combination Therapies</div>
        <div class="text-muted mb-2">
            A comparison of the progression-free survival (PFS) under the most common drug combinations for this cohort.
        </div>    
        @let therapyLineDrugCombinations = therapyLineDrugCombinations$ | async;
        <pop-box-plot
            *ngIf="therapyLineDrugCombinations" 
            [boxData]="therapyLineDrugCombinations"/>    
            <p-skeleton height="15rem" *ngIf="loading || !therapyLineDrugCombinations"/>
    </p-panel>

</p-card>