@let user = user$ | async;
@if (!user) {
    <p-skeleton width="2rem" height="2rem" styleClass="user-avatar" shape="circle"/>
} @else {
    <p-avatar label="{{ user | acronym }}" styleClass="user-avatar" size="normal" shape="circle" [pTooltip]="userTooltipContent"/>
    <ng-template #userTooltipContent>
        <div class="user-tooltip-content">
            <p-avatar label="{{ user | acronym }}" styleClass="user-avatar" size="large" shape="circle"/>
            <div class="flex flex-column my-auto">
                <div class="user-tooltip-content-name">
                  {{ user | fullname }}          
                </div>
                <div class="user-tooltip-content-role text-muted">
                    <i class="pi pi-lock mr-1"></i>{{ user.accessLevel }}, {{ user.role }}          
                </div>
            </div>
        </div>
    </ng-template>
}