
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .paper-details {
    text-align: left;
    display: inline-block;
  }
  
  .error-message {
    color: red;
    margin-top: 20px;
  }

  .illustration-papers {
    margin: auto;
    width: 20rem;
    color: var(--p-primary-color);
  }