@let paper = paper$ | async;
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>
<div  class="paper-details flex">
    <div [inlineSVG]="illustration" class="illustration-papers ml-3"></div>
    <div class="my-auto ml-3 flex flex-column" style="width: 100%;">
        <p-skeleton *ngIf="!paper" width="100%" height="7rem" />
        <div *ngIf="paper" >
            <div class="font-semibold mb-1"><small>Research paper</small></div>
            <div class="mb-1"><i>{{ paper.title[0] }}</i></div>
            <p class="mb-3"> {{ paper.author[0].family }} et al., {{ paper['container-title'] }}, {{ paper['journal-issue']?.issue || '?' }}, {{ paper['published-print']?.['date-parts'][0][0] || '' }}</p>
            <a [href]="paper.URL" target="_blank"><p-button icon="pi pi-arrow-right" label="Access the publication"/></a>
        </div>
    </div>
</div>
