
<div class="cohort-search-item card flex-column flex-grow-0 p-3 gap-3 mb-3">
    
    <div class="flex gap-3">

        <div class="flex flex-column mb-3 ">
            <small class="text-muted mb-1">Population</small>
            <div class="flex my-auto gap-1">
                <lucide-angular class="cohort-search-item-icon" [img]="populationIcon"></lucide-angular>
                <div class="my-auto">
                    <span style="font-size: 1.5rem;">{{ cohort.population }}</span>               
                </div>
            </div>
        </div>

        <div class="flex flex-column">
            <small class="text-muted mb-1">Cohort</small>
            <h5 class="cohort-search-item-title">{{cohort.name}}</h5>
        </div>


        <div class="flex flex-column ml-auto">
            <div class="cohort-search-item-chip text-md mt-2">
                <p-chip 
                    [label]="cohort.isPublic ? 'Public' : 'Private'" 
                    [icon]="cohort.isPublic ? 'pi pi-lock-open' : 'pi pi-unlock'" 
                    class="is-public-chip"/>
            </div>
        </div>
    </div>
    <div class="flex gap-3">

        @let cohortAgeStats = cohortAgeStats$ | async;
        <div class="flex flex-column">
            <small class="text-muted mb-1">Median age</small>
            <div class="flex my-auto gap-1">
                @if (cohortAgeStats !== null) {
                    <div class="my-auto">
                        <span style="font-size: 1.2rem;">{{ cohortAgeStats.median || '-' }} <small>years</small></span>               
                    </div>    
                } @else if (cohortAgeStats === null) {
                    -
                } @else {
                    <p-skeleton width="4rem" height="1rem"/>      
                }
            </div>
        </div>

        @let cohortDataCompletionStats = cohortDataCompletionStats$ | async;
        <div class="flex flex-column">
            <small class="text-muted mb-1">Median completion</small>
            <div class="flex my-auto gap-1">
                @if (cohortDataCompletionStats !== null) {
                    <div class="my-auto">
                        <span style="font-size: 1.2rem;">{{ cohortDataCompletionStats.median }}% <small>complete</small></span>               
                    </div>
                } @else if (cohortDataCompletionStats === null) {
                    -
                } @else {
                    <p-skeleton width="6rem" height="1rem"/>         
                }
            </div>
        </div>
    
        <div class="flex flex-column">
            <small class="text-muted mb-1">Last updated</small>
            <div class="flex my-auto gap-1">
                <div>{{cohort.updatedAt | date }}</div>
            </div>
        </div>


        <div class="ml-auto">
            <p-confirmdialog />
            <p-splitbutton
                label="Open cohort"
                class="mt-auto"
                [menuButtonDisabled]="!authService.user.canManageCohorts"
                [dropdownIcon]="authService.user.canManageCohorts? 'pi pi-cog' : 'pi pi-lock'" 
                [model]="actionItems"
                (onClick)="openCohortManagement()" />
        </div>
    </div>
</div>
