
<div class="pop-cohort-search-item-card">
    
    <div class="flex gap-3">

        <!-- Population counter -->
        <div class="flex flex-column mb-3 ">
            <small class="text-muted mb-1">Population</small>
            <div class="flex my-auto gap-1">
                <lucide-angular class="cohort-search-item-icon" [img]="populationIcon"></lucide-angular>
                <div class="my-auto text-xl">
                    {{ cohort().population }}               
                </div>
            </div>
        </div>

        <!-- Cohort title -->
        <div class="flex flex-column">
            <small class="text-muted mb-1">Cohort</small>
            <h5 class="cohort-search-item-title">{{ cohort().name }}</h5>
        </div>

        <!-- Cohort public/private badge -->
        <div class="flex flex-column ml-auto">
            <div class="cohort-search-item-chip text-md mt-2">
                <p-chip 
                    [label]="cohort().isPublic ? 'Public' : 'Private'" 
                    [icon]="cohort().isPublic ? 'pi pi-lock-open' : 'pi pi-unlock'" 
                    class="is-public-chip"/>
            </div>
        </div>
    </div>


    <!-- Predominant site -->
    <div class="flex flex-column mb-2">
        <small class="text-muted mb-1">Predominant neoplastic topography</small>
        <div class="flex my-auto gap-1">
            @if (predominantSite.isLoading()) {
                <p-skeleton width="4rem" height="1rem"/>      
            } @if (predominantSite.value(); as predominantSite) {
                <div class="my-auto">
                    <span class="text-xl">{{ (predominantSite.percentage | number:'1.0-0') || '-' }}% <small>{{ predominantSite.category }}</small></span>               
                </div>    
            } @else {
                -
            }
        </div>
    </div>
    <div class="flex gap-3">
        <!-- Cohort age stats -->
        <div class="flex flex-column">
            <small class="text-muted mb-1">Median age</small>
            <div class="flex my-auto gap-1">
                @if (ageStats.isLoading()) {
                    <p-skeleton width="6rem" height="1rem"/>     
                } @if (ageStats.value(); as age) {
                    <div class="my-auto">
                        <span class="text-xl">{{ age.median || '-' }} <small>years</small></span>               
                    </div>    
                } @else {
                    -
                }
            </div>
        </div>

        <!-- Data completion stats -->
        <div class="flex flex-column">
            <small class="text-muted mb-1">Median completion</small>
            <div class="flex my-auto gap-1">
                @if (dataCompletionStats.isLoading()) {
                    <p-skeleton width="6rem" height="1rem"/>       
                } @if (dataCompletionStats.value(); as dataCompletion) {
                    <div class="my-auto">
                        <span class="text-xl">{{ dataCompletion.median || '-' }}% <small>complete</small></span>               
                    </div>    
                } @else {
                    -
                }
            </div>
        </div>
    
        <!-- Metadata -->
        <div class="flex flex-column">
            <small class="text-muted mb-1">Last updated</small>
            <div class="flex my-auto gap-1">
                <div>{{cohort().updatedAt | date }}</div>
            </div>
        </div>


        <div class="ml-auto">
            <p-confirmdialog />
            <p-splitbutton
                label="Open cohort"
                class="mt-auto"
                [menuButtonDisabled]="!currentUser().canManageCohorts"
                [dropdownIcon]="currentUser().canManageCohorts? 'pi pi-cog' : 'pi pi-lock'" 
                [model]="actionItems"
                (onClick)="openCohortManagement()" />
        </div>
    </div>
</div>
