<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="submitFormData()">

        @if (provider()) {
            <div class="field">
                <label class="form-label required">User identity provided by:</label>
                <div><i class="pi pi-{{ provider() }}"></i>  {{ provider() | titlecase }}</div>
                <pop-form-control-error controlName="username"/>
            </div>
        }

        <div class="field">
            <label class="form-label required">Username</label>
            <input type="text" pInputText formControlName="username" />
            <pop-form-control-error controlName="username"/>
        </div>
        <div class="field">
            <label class="form-label required">First name</label>
            <input type="text" pInputText formControlName="firstName" />
            <pop-form-control-error controlName="firstName"/>
        </div>
        <div class="field">
            <label class="form-label required">Last name</label>
            <input type="text" pInputText formControlName="lastName" />
            <pop-form-control-error controlName="lastName"/>
        </div>
        <div class="field">
            <label class="form-label required">Email</label>
            <input type="email" pInputText formControlName="email" />
            <pop-form-control-error controlName="email"/>
        </div>
        <div class="field">
            <label class="form-label">Organization</label>
            <input type="text" pInputText formControlName="organization" />
            <pop-form-control-error controlName="organization"/>
        </div>
        <div class="field">
            <label class="form-label">Department</label>
            <input type="text" pInputText formControlName="department" />
            <pop-form-control-error controlName="department"/>
        </div>
        <div class="field">
            <label class="form-label required">Access level & Role</label>
            @for (role of roles; track $index;) {
                <div class="field-checkbox">
                    <p-radiobutton [inputId]="role.label" [value]="role.accessLevel" formControlName="accessLevel"/>
                    <label [for]="role.label" class="ml-2"><i class="pi pi-lock text-muted"></i> {{ role.accessLevel }} - {{ role.label }}</label>
                </div>    
            }
            <pop-form-control-error controlName="accessLevel"/>
        </div>

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>