<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="submitFormData()">

        <div class="field">
            <label for="relationship" class="form-label required">Neoplastic relation category</label>
            <p-select 
            [options]="relationshipOptions" 
            formControlName="relationship"
            optionLabel="name" 
            optionValue="code"
            placeholder="Select an option" />
            <pop-form-control-error controlName="relationship"></pop-form-control-error>
        </div>

        <div class="field">
            <label for="assertionDate" class="form-label required">Assertion date</label>
            <pop-datepicker 
                formControlName="assertionDate"
            />
            <pop-form-control-error controlName="assertionDate"></pop-form-control-error>
        </div>

        @if (requiresPrimary()) {
            <div class="field">
                <label for="relatedPrimary" class="form-label required">Related primary neoplasm</label>
                <p-select 
                [options]="relatedPrimaries.value() || []" 
                formControlName="relatedPrimary"
                optionLabel="description" 
                optionValue="id"
                placeholder="Select an option" />
                <pop-form-control-error controlName="relatedPrimary"></pop-form-control-error>
            </div>    
        }

        <div class="field">
            <label for="topography" class="form-label required">Topography</label>
            <pop-concept-selector 
                terminology="CancerTopography"
                [showCodes]="true"
                formControlName="topography"/>
            <pop-form-control-error controlName="topography"></pop-form-control-error>
        </div>
        <div class="field">
            <label for="morphology" class="form-label required">Morphology</label>
            <pop-concept-selector 
                [terminology]="morphologyTerminology()"
                [showCodes]="true"
                formControlName="morphology"/>
            <pop-form-control-error controlName="morphology"></pop-form-control-error>
        </div>

        <div class="field">
            <label for="laterality" class="form-label">Laterality</label>
            <pop-concept-selector 
                terminology="LateralityQualifier"
                [showSynonyms]="false"
                formControlName="laterality"/>
            <pop-form-control-error controlName="laterality"></pop-form-control-error>
        </div>

        <div class="field">
            <label for="differentiation" class="form-label">Histological differentiation</label>
            <pop-concept-selector 
                terminology="HistologyDifferentiation"
                formControlName="differentiation"/>
            <pop-form-control-error controlName="differentiation"></pop-form-control-error>
        </div>

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />
    </form>
</p-fluid>
 