
<div class="text-sm text-muted mt-3">
    Project
</div>
<div>
    @if (project.isLoading()) {
        <p-skeleton width="100%" height="2rem"/>
    } @else {
        @let status = parseStatus(project.value()!.status!);
        <div class="flex">
            <h3 class="my-0 mr-2">{{ project.value()!.title }}</h3>    
            <p-tag [value]="status.value" [severity]="status.severity"/>    
        </div>
    }
</div>

<div class="text-sm text-muted mt-3">
    Project leader
</div>
<div>
    @if (project.isLoading()) {
        <p-skeleton width="10rem" height="2rem"/>
    } @else {
        <pop-user-badge [username]="project.value()!.leader" [showName]="true"/>
    }
</div>

<div class="flex gap-4">
    <div>
        <div class="text-sm text-muted mt-3">
            Created
        </div>
        <div>
            @if (project.isLoading()) {
                <p-skeleton width="10rem" height="2rem"/>
            } @else {                
                {{ (project.value()!.createdAt | date) ?? '-'  }}
            }
        </div>
    </div>
    <div>
        <div class="text-sm text-muted mt-3">
            Last updated
        </div>
        <div>
            @if (project.isLoading()) {
                <p-skeleton width="10rem" height="2rem"/>
            } @else {                
                {{ (project.value()!.updatedAt | date) ?? '-'  }}
            }
        </div>
    </div>
</div>


<div class="text-sm text-muted mt-3">
    Summary
</div>
<div>
    @if (project.isLoading()) {
        <p-skeleton width="100%" height="4rem"/>
    } @else {
        <p>{{ project.value()!.summary }}</p>
    }
</div>


<h5>Project members</h5>
<p-table 
    [value]="members.value() ?? []"
    >
    <ng-template #header>

        <tr>
            <th colspan="3">Member</th>
            <th colspan="4">Data Management</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Joined</th>

            <th>Status</th>
            <th>Granted by</th>
            <th>Expiration</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template #body let-member>
        <tr>
            <td><i class="pi pi-user text-primary mr-2"></i>{{member.fullName}}</td>
            <td><span class="text-muted"><i class="pi pi-lock"></i> {{member.accessLevel}}</span> - {{member.role}}</td>
            <td>
                -
            </td>
            <td>
                @if (member.canManageCases) {
                    <p-tag value="Authorized" severity="success"/>
                } @else {
                    <p-tag value="Unauthorized" severity="danger"/>   
                }
            </td>
            <td>
                @if (member.authorization; as authorization) {
                    {{authorization.grantedBy}}
                } @else if (member.accessLevel >= 4) {
                    System
                } @else {
                    <span class="text-muted">-</span>
                }
            </td>
            <td>
                @if (member.authorization; as authorization) {
                    {{authorization.grantedAt}}
                    {{authorization.expiresAt}}
                } @else if (member.accessLevel >= 4) {
                    Never
                } @else {
                    <span class="text-muted">-</span>
                }
            </td>
            <td>
                <p-menu #menu [model]="getMemberMenuItems(member)" [popup]="true" appendTo="body" />
                <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"/>
            </td>
        </tr>
    </ng-template>
</p-table>



<p-confirmdialog #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="p-4">
            <h5 class="mb-4">
                Data management authorization
            </h5> 
            <div>
                You are about to change the data management authorization for this project's member:
            </div> 
            <div class="flex gap-4 border-round	border-1 p-2 mt-2 surface-border	">
                <div class="ml-auto">
                    <div class="text-sm text-muted">
                        Name
                    </div>
                    <div>
                        {{authDialogMember()!.fullName}}
                    </div>    
                </div>
                <div class="mr-auto">
                    <div class="text-sm text-muted">
                        Role
                    </div>
                    <div>
                        <span class="text-muted"><i class="pi pi-lock"></i> {{authDialogMember()!.accessLevel}}</span> - {{authDialogMember()!.role}}
                    </div>    
                </div>
            </div>
            
            <p-fluid>
                <div class="field mt-4" >
                    <label class="form-label required">Expiration date</label>
                    <div class="text-muted text-sm mb-2">
                        A maximal duration of 31 days can be specified. 
                    </div>
                    <p-datepicker class="max-w-full mt-2"
                         [(ngModel)]="authDialogExpirationDate" 
                         [minDate]="authDialogExpirationMinDate"
                         [maxDate]="authDialogExpirationMaxDate"
                         [inline]="true"/>
                </div>    
                <div class="field mt-4" >
                    <label class="form-label required">Confirmation</label>
                </div>  
            </p-fluid>


            <div class="flex items-center gap-2 mt-6">
                <p-button label="Save" (onClick)="onAccept()" styleClass="w-32"></p-button>
                <p-button label="Cancel" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
            </div>    
        </div>
    </ng-template>
</p-confirmdialog>