.p-dataview .p-dataview-content{
    background: none !important;
}
.case-browser-card {
    border-left: solid 4px #efefef;
}
.case-browser-card:hover {
    border-left: solid 4px var(--primary-color);
    cursor: pointer;
}
.p-avatar {
    line-height: 0 !important;
    padding: 1rem;
}