<div class="flex mb-5">
    <!-- Button to add new cases -->
    <p-button (onClick)="openNewCaseForm()" label="New case" class="ml-3 ml-auto"></p-button>
</div>


<!-- use ngTemplateOutlet to conditionally render templates -->
<ng-container *ngIf="cases$ | async as cases; else loading">
    <div class="my-3 ml-3">
        <span class="font-bold">{{cases.length}}</span> matching cases found
    </div>
    <p-dataView 
        [value]="cases"
        [paginator]="true" 
        [rows]="pageSize" 
        [rowsPerPageOptions]="pageSizeChoices"
        [totalRecords]="totalCases"
        class="no-background"
    >
        <ng-template #list let-cases>
            <div class="grid grid-nogutter">
                <div class="col-12" *ngFor="let case of cases; let first = first" class="col-12">
                    <app-case-browser-item [case]="case"></app-case-browser-item>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</ng-container>

<!-- Skeleton loader -->
<ng-template #loading>
    <div>
        <ng-container *ngFor="let _ of [].constructor(20); let first=first">
            <div class="flex flex-row  p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                <p-skeleton [style]="{ width: '4rem', height: '4rem'}"></p-skeleton>
                <div class="flex flex-column">
                    <p-skeleton class="mb-2 mt-3" [style]="{ width: '10rem', height: '1rem'}"></p-skeleton>    
                    <p-skeleton [style]="{ width: '20rem', height: '1rem' }"></p-skeleton>      
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>

<app-dynamic-modal-form (saveEvent)="refreshCases()"></app-dynamic-modal-form>
