<div class="card">
    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" [(ngModel)]="filterValue" (ngModelChange)="filterPatients(filterValue)"/>
    </p-iconField>
    <p-button (onClick)="openModalForm()" label="New case" class="ml-3"></p-button>

</div>
    <div>
        {{total}} entries found
    </div>
        <p-dataView #dv [value]="filteredPatients" [paginator]="true" [rows]="10" *ngIf="!loading" >
        <ng-template pTemplate="list" let-patients>
            <div class="grid grid-nogutter">
                <div class="col-12" *ngFor="let patient of patients; let first = first" class="col-12">
                    <div class="card flex flex-column sm:flex-row sm:align-items-center p-4 gap-3 mb-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                        <p-avatar size="xlarge" [style]="{'background': 'white', 'border': '1px solid #f0f2'}">
                            <svg width="4rem" height="4rem" [data-jdenticon-value]="[patient.pseudoidentifier]"></svg>
                        </p-avatar>


                        <div class="flex flex-column">
                            <div class="text-xl font-bold">{{patient.pseudoidentifier}}</div>
                            <div class="flex">
                                <i class="pi pi-mars" *ngIf="patient.gender.code === 'male'"></i>
                                <i class="pi pi-venus" *ngIf="patient.gender.code === 'female'"></i>
                                <i class="pi pi-question" *ngIf="!patient.gender.code.includes('male')"></i>
                                {{patient.date_of_birth}}  
                                <span *ngIf="patient.is_deceased">, †</span></div>
                            </div>
                            <p-divider layout="vertical" />
                            <div>
                                <div>Diagnosis pending</div>
                                <div>No further information available</div>
                            </div>
                            <p-divider layout="vertical" />
                            <div class="flex flex-column text-center gap-2"> 
                                Manager
                                <p-avatar 
                                label="{{ patient.created_by?.username || '?' }}" 
                                size="normal" 
                                [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                                title="{{ patient.created_by?.username || 'Unknown user' }}" 
                                shape="circle"/>
                            </div>
                            <div class="flex">
                                Ccontributors
                                <p-avatarGroup styleClass="mb-3">
                                    <ng-container *ngFor="let editor of patient.updated_by ">
                                        <p-avatar 
                                        label="{{ editor.username || '?' }}" 
                                        size="large" 
                                        shape="circle"
                                        [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                                        />
                                    </ng-container>
                                </p-avatarGroup>
                            </div>
                        </div>

                 </div>
            </div>
        </ng-template>
    </p-dataView>

    <!-- Skeleton loader -->
    <div *ngIf="loading">
        <div *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]; let first = first">
            <div class="flex flex-row  p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                <p-skeleton [style]="{ width: '4rem', height: '4rem'}"></p-skeleton>
                <div class="flex flex-column">
                    <p-skeleton class="mb-2 mt-3" [style]="{ width: '10rem', height: '1rem'}"></p-skeleton>    
                    <p-skeleton [style]="{ width: '20rem', height: '1rem' }"></p-skeleton>      
                </div>
            </div>
        </div>
</div>

<app-dynamic-modal-form (saveEvent)="getPatientList()"></app-dynamic-modal-form>
