/* You can add global styles to this file, and also import other style files */
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
                    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
    margin: 0;
    padding: 2rem;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: light-dark(var(--p-surface-50), var(--p-surface-950));
}

@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  router-outlet + * {
    animation: fade .5s;
  }
  

$gutter: 1rem; //for primeflex grid system
/* PrimeNG */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


@import "assets/styles/layout/layout.scss";
@import "assets/styles/shared/shared.scss";
@import "assets/styles/forms/forms.scss";
@import "assets/styles/cases/cases.scss";
@import "assets/styles/cohorts/cohorts.scss";
@import "assets/styles/dashboard/dashboard.scss";
