.top-rank-1 {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: color-mix(in srgb, var(--p-primary-500), transparent 50%); 
}.top-rank-2 {
  font-weight: bold;
  font-size: 1.1rem;
  background-color: color-mix(in srgb, var(--p-primary-500), transparent 70%); 
}.top-rank-3 {
  font-weight: semibold;
  background-color: color-mix(in srgb, var(--p-primary-500), transparent 80%); 
}