<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label for="date" class="form-label required">Date</label>
            <masked-calendar 
                formControlName="date"
            />
            <control-error controlName="date"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Gene panel</label>
            <input type="text" 
                pInputText 
                formControlName="genePanel" 
                placeholder="Enter a value, e.g. FoundationOneCDx"
                />           
            <small class="help-text">Commercial or official name of the gene panel used in the test to detect this variant.</small>
            <control-error controlName="genePanel"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Analysis method</label>
            <coded-concept-select 
                formControlName="analysisMethod"
                terminology="StructuralVariantAnalysisMethod"
                [showSynonyms]="false"/>
            <small class="help-text">Analysis method used to detect the variant"</small>
            <control-error controlName="analysisMethod"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Assessment</label>
            <radio-select  
                formControlName="assessment"
                [choices]="assessmentChoices"
                class="flex flex-wrap gap-4"/>
            <small class="help-text">Classification of whether the variant is present or absent in the analysis results. Relevant for genomic studies that report presence and absence of variants.</small>
            <control-error controlName="assessment"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Confidence</label>
            <radio-select  
                formControlName="confidence"
                [choices]="confidenceChoices"
                class="flex flex-wrap gap-4"/>
            <small class="help-text">Classification of the confidence for a true positive variant call based e.g. calling thresholds or phred-scaled confidence scores.</small>
            <control-error controlName="confidence"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Clinical relevance</label>
            <p-select 
                formControlName="clinicalRelevance" 
                [options]="clinicalRelevanceChoices" 
                optionLabel="name" 
                optionValue="value" 
                placeholder="Select an option" 
                appendTo="body" 
                />
            <small class="help-text">Classification of the clinical relevance or pathogenicity of the variant.</small>
            <control-error controlName="clinicalRelevance"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Gene(s)</label>
            <coded-concept-select 
                formControlName="genes"
                terminology="Gene"
                [showSynonyms]="true"
                [multiple]="true"/>
            <small class="help-text">Gene(s) affected by this variant.</small>
            <control-error controlName="genes"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Chromosome(s)</label>
            <coded-concept-select 
                formControlName="chromosomes"
                terminology="ChromosomeIdentifier"
                [showSynonyms]="true"
                [multiple]="true"/>            
            <small class="help-text">Chromosome(s) affected by this variant.</small>
            <control-error controlName="chromosomes"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Cytogenetic location</label>
            <input type="text" 
                pInputText 
                formControlName="cytogeneticLocation" 
                placeholder="Enter a value, e.g. 3p22.1"
                />                      
            <small class="help-text">The genetic address of the variant specifying the relevant chromosomal region.</small>
            <control-error controlName="cytogeneticLocation"></control-error>
        </div>
        
        <div class="field">
            <label class="form-label">Genomic assembly version</label>
            <coded-concept-select 
                formControlName="genomeAssemblyVersion"
                terminology="ReferenceGenomeBuild"
                [showSynonyms]="false"/>
            <small class="help-text">The reference genome assembly versionused in this analysis.</small>
            <control-error controlName="genomeAssemblyVersion"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Genomic RefSeq</label>
            <input type="text" 
                pInputText 
                formControlName="genomicRefseq" 
                placeholder="Enter a value, e.g. NG00094.3"
                />                      
            <small class="help-text">Can be an NCBI's RefSeq ('NC_...' or 'NG...'), or LRG ('LRG...')</small>
            <control-error controlName="genomicRefseq"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Transcript RefSeq</label>
            <input type="text" 
                pInputText 
                formControlName="transcriptRefseq" 
                placeholder="Enter a value, e.g. NM00232.5"
                />                      
            <small class="help-text">Can be an NCBI's RefSeq ('NM_...' or 'NG...'), Ensembl ('ENST...'), or LRG ('LRG...' plus 't1' to indicate transcript)</small>
            <control-error controlName="transcriptRefseq"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Coding DNA change HGSV expression</label>
            <input type="text" 
                pInputText 
                formControlName="codingHgsv" 
                placeholder="Enter a value, e.g. NM_005228.5:c.2369C>T"
                />                      
            <small class="help-text">Description of the coding (cDNA) sequence change using a valid HGVS-formatted expression</small>
            <control-error controlName="codingHgsv"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Protein change HGSV expression</label>
            <input type="text" 
                pInputText 
                formControlName="proteinHgvs" 
                placeholder="Enter a value, e.g. NP_000050.2:p.(Asn1836Lys)"
                />                      
            <small class="help-text">Description of the protein (aminoacid) sequence change using a valid HGVS-formatted expression</small>
            <control-error controlName="proteinHgvs"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Genomic change HGSV expression</label>
            <input type="text" 
                pInputText 
                formControlName="genomicHgvs" 
                placeholder="Enter a value, e.g. NC_000016.9:g.2124200_2138612dup"
                />                      
            <small class="help-text">Description of the genomic (gDNA) sequence change using a valid HGVS-formatted expression</small>
            <control-error controlName="genomicHgvs"></control-error>
        </div>
        
        <div class="field">
            <label class="form-label">Coding DNA change type</label>
            <coded-concept-select 
                formControlName="dnaChangeType"
                terminology="DnaChangeType"
                [showSynonyms]="true"/>
            <small class="help-text">Classification of the DNA change type of the variant.</small>
            <control-error controlName="dnaChangeType"></control-error>
        </div>
        
        <div class="field">
            <label class="form-label">Molecular Consequence</label>
            <coded-concept-select 
                formControlName="molecularConsequence"
                terminology="MolecularConsequence"
                [showSynonyms]="true"/>
            <small class="help-text">The calculated or observed effect of a variant on its downstream transcript and, if applicable, ensuing protein sequence.</small>
            <control-error controlName="molecularConsequence"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Copy number</label>
            <p-inputnumber 
                formControlName="copyNumber" 
                placeholder="Enter a value, e.g. 2"
                [min]="0"/>
            <small class="help-text">Genomic structural variant copy number. It is a unit-less value. Note that a copy number of 1 can imply a deletion.</small>
            <control-error controlName="copyNumber"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Allele frequency</label>
            <p-inputnumber 
                formControlName="alleleFrequency" 
                mode="decimal" 
                placeholder="Enter a value, e.g. 0.75"
                [min]="0" 
                [max]="1"/>
            <small class="help-text">The relative frequency (value in range [0,1]) of the allele at a given locus in the sample.</small>
            <control-error controlName="alleleFrequency"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Allele read depth</label>
            <p-inputnumber 
                formControlName="alleleDepth" 
                placeholder="Enter a value, e.g. 275"
                [min]="0"/>
            <small class="help-text">Specifies the number of reads that identified the allele in question whether it consists of one or a small sequence of contiguous nucleotides.</small>
            <control-error controlName="alleleDepth"></control-error>
        </div>
        
        <div class="field">
            <label class="form-label">Zygosity</label>
            <coded-concept-select 
                formControlName="zygosity"
                terminology="Zygosity"
                [showSynonyms]="true"/>
            <small class="help-text">The observed level of occurrence of the variant in the set of chromosomes.</small>
            <control-error controlName="zygosity"></control-error>
        </div>
        
        <div class="field">
            <label class="form-label">Inheritance</label>
            <coded-concept-select 
                formControlName="inheritance"
                terminology="VariantInheritance"
                [showSynonyms]="true"/>
            <small class="help-text">Variant inheritance origin (if known).</small>
            <control-error controlName="inheritance"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Exact genomic coordinates</label>
            <div class="flex">
                <p-inputnumber 
                    formControlName="exactGenomicCoordinatesStart" 
                    placeholder="Enter a value"
                    [min]="0"/>
                <div class="my-auto mx-3">-</div>
                <p-inputnumber 
                    formControlName="exactGenomicCoordinatesEnd" 
                    placeholder="Enter a value"
                    [min]="0"/>  
            </div>              
            <small class="help-text">The exact integer-based genomic coordinates of the start and end of the variant region. "High" can be omitted for single nucleotide variants.</small>
            <control-error controlName="exactGenomicCoordinatesStart"></control-error>
            <control-error controlName="exactGenomicCoordinatesEnd"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Inner genomic coordinates</label>
            <div class="flex">
                <p-inputnumber 
                    formControlName="innerGenomicCoordinatesStart" 
                    placeholder="Enter a value"
                    [min]="0"/>
                <div class="my-auto mx-3">-</div>
                <p-inputnumber 
                    formControlName="innerGenomicCoordinatesEnd" 
                    placeholder="Enter a value"
                    [min]="0"/>  
            </div>              
            <small class="help-text">Genomic coordinates of the narrowest genomic range in which the variant might reside. Used when the exact boundaries of the variant are not clear.</small>
            <control-error controlName="innerGenomicCoordinatesStart"></control-error>
            <control-error controlName="innerGenomicCoordinatesEnd"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Outer genomic coordinates</label>
            <div class="flex">
                <p-inputnumber 
                    formControlName="outerGenomicCoordinatesStart" 
                    placeholder="Enter a value"
                    [min]="0"/>
                <div class="my-auto mx-3">-</div>
                <p-inputnumber 
                    formControlName="outerGenomicCoordinatesEnd" 
                    placeholder="Enter a value"
                    [min]="0"/>  
            </div>              
            <small class="help-text">Genomic coordinates of the widest genomic range in which the variant might reside. Used when the exact boundaries of the variant are not clear.</small>
            <control-error controlName="outerGenomicCoordinatesStart"></control-error>
            <control-error controlName="outerGenomicCoordinatesEnd"></control-error>
        </div>

        <div class="field">
            <label class="form-label">ClinVar Identifier</label>
            <input type="text" 
                pInputText 
                formControlName="clinvar" 
                placeholder="Enter a value, e.g. VCV000016613.35"
                />     
            <small class="help-text">Accession number in the ClinVar variant database, for cross-reference.</small>
            <control-error controlName="clinvar"></control-error>
        </div>


        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="loading"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>