<p-autoComplete
  [formControl]="formControl"
  [dropdown]="true"
  [showClear]="true"
  [forceSelection]="true"
  [suggestions]="filteredConcepts"
  dataKey="code"
  (completeMethod)="filterConcepts($event)"
  [multiple]="multiple"
  [unique]="true"
  [placeholder]="placeholder"
  optionLabel="display"
  appendTo="body"
>
  <!-- Custom item template -->
  <ng-template let-concept #item>
    <div class="flex flex-column">
      <div>
        {{ concept.display }}
        <small *ngIf="showCodes">
          (<code>{{ concept.code }}</code>)
        </small>
      </div>
      <div class="ml-3 mt-1 text-xs gap2">
        <div *ngIf="showSynonyms">
          <ng-container *ngFor="let synonym of concept.synonyms; let i = index; trackBy:conceptTrackBy">
            <div>
                <b>syn.</b>
                <span class="ml-1">
                  {{ (synonym.length>100)? (synonym  | slice:0:15)+'...':(synonym ) }}
                </span>
            </div> 
          </ng-container>
        </div>
      </div>
  </div>
  </ng-template>

</p-autoComplete>
  