
<p-card>
    <p-panel header="Demographics" [toggleable]="true">

        <div class="flex">
            <div class="flex flex-column">
                <div class="font-semibold">Patient Traits</div>
                <div class="text-muted mb-2">
                    Basic statistics over the demographical composition of the cohort.
                </div>
                <div class="flex mx-auto my-3 gap-3" style="width: 100%;">
                    @let genderCount = genderCount$ | async;
                    <div>
                        @if (!loading && genderCount) {
                            <pop-doughnut-graph [countData]="genderCount"/>
                        } @else {
                            <p-skeleton height="10rem" width="15rem"/>
                        }
                    </div>
                    @let vitalStatusCount = vitalStatusCount$ | async;
                    <div>
                        @if (!loading && vitalStatusCount) {
                            <pop-doughnut-graph [countData]="vitalStatusCount"/>
                        } @else {
                            <p-skeleton height="10rem" width="15rem"/>
                        }
                    </div>
                </div>
                <div>
                    @let ageCount = ageCount$ | async;
                    <div class="mt-3 mr-4">
                        @if (!loading && ageCount) {
                            <pop-distribution-graph [countData]="ageCount"/>
                        } @else {
                            <p-skeleton height="15rem"/>
                        }
                    </div>
                </div>
            </div>
            <div class="ml-4">
                <div class="font-semibold">Age at diagnosis</div>
                <div class="text-muted mb-2">
                    Distribution of age at the time of the diagnosis of the first primary neoplastic entity. 
                </div>
                @let ageAtDiagnosisCount = ageAtDiagnosisCount$ | async;
                <div class="mt-3 mr-4">
                    @if (!loading && ageAtDiagnosisCount) {
                        <pop-distribution-graph [countData]="ageAtDiagnosisCount"/>
                    } @else {
                        <p-skeleton height="15rem"/>
                    }
                </div>
            </div>
        </div>    
    
    </p-panel>
    

    <p-panel header="Cohort Characteristics" [toggleable]="true" styleClass="mt-4">        
        @let overallSurvivalCurve = overallSurvivalCurve$ | async;
        <div class="font-semibold">Overall survival (OS)</div>
        <div class="text-muted mb-2">
            Kaplan-Meier survival analysis of the overall survival of the patients in the cohort since the initial diagnosis. 
        </div>
        @if (!loading && overallSurvivalCurve) { 
            <pop-kappler-meier-curve [survivalData]="overallSurvivalCurve"/>    
        } @else { 
            <p-skeleton height="30rem" width="60%"/>
        }

        @let genomicsData = genomicsData$ | async;
        <div class="font-semibold">Genomic variants (Oncoplot)</div>
        <div class="text-muted mb-2">
            A summary of the genomics of the cohort
        </div>
        @if (!loading && genomicsData) { 
            <pop-oncoplot [genomicsData]="genomicsData"/>    
        } @else { 
            <p-skeleton height="30rem" width="100%"/>
        }
    </p-panel>

    <p-panel header="Therapy lines" [toggleable]="true" styleClass="mt-4">
        
        @let therapyLinesCount = therapyLinesCount$ | async;
        <div class="text-muted mb-1">
            Select the therapy line to analyze
        </div>
        @if (therapyLinesCount) {
            <p-selectbutton 
            [options]="therapyLineOptions || []" 
            [(ngModel)]="selectedTherapyLine" 
            (onChange)="updateTherapyLineGraphs($event)"/>
        }

        @let therapyLineSurvivalCurve = therapyLineSurvivalCurve$ | async;
        <div class="font-semibold mt-4">Progression-free survival (PFS)</div>
        <div class="text-muted mb-2">
            Kaplan-Meier survival analysis of the progression-free survival of the patients in the cohort during the therapy line. 
        </div>    
        @if (!loading && therapyLineSurvivalCurve) { 
           <pop-kappler-meier-curve [survivalData]="therapyLineSurvivalCurve"/>    
        } @else { 
           <p-skeleton height="30rem" width="60%"/>
        }

        @let therapyLineTherapyClassifications = therapyLineTherapyClassifications$ | async;
        <div class="font-semibold mt-4">Performance of therapeutic approaches </div>
        <div class="text-muted mb-2">
            A comparison of the progression-free survival (PFS) under the most common therapy approaches for this cohort.
        </div>    
        @if (!loading && therapyLineTherapyClassifications) { 
            <pop-box-plot [boxData]="therapyLineTherapyClassifications"/>    
        } @else { 
            <p-skeleton height="15rem"/>
        }

        @let therapyLineDrugCombinations = therapyLineDrugCombinations$ | async;
        <div class="font-semibold mt-4">Performance of combination therapies</div>
        <div class="text-muted mb-2">
            A comparison of the progression-free survival (PFS) under the most common drug combinations for this cohort.
        </div>    
        @if (!loading && therapyLineDrugCombinations) { 
            <pop-box-plot [boxData]="therapyLineDrugCombinations"/>    
        } @else { 
            <p-skeleton height="15rem"/>
        }
    </p-panel>

</p-card>