
<div class="case-browser-card card flex flex-column sm:flex-row sm:align-items-center p-3 gap-3 mb-3" >
    <p-avatar size="xlarge" [style]="{'background': 'white', 'border': '1px solid #f0f2'}">
        <svg width="4rem" height="4rem" [data-jdenticon-value]="[case.pseudoidentifier]"></svg>
    </p-avatar>

    <div class="flex flex-column" style="width: 10%">
        <div class="text-xl mb-1 font-bold" style="font-family: monospace;">{{case.pseudoidentifier}}</div>
        <div class="flex">
            <i class="pi pi-mars" *ngIf="case.gender.code === 'male'"></i>
            <i class="pi pi-venus" *ngIf="case.gender.code === 'female'"></i>
            <i class="pi pi-question" *ngIf="!case.gender.code.includes('male')"></i>
            {{case.age}} years 
            <span *ngIf="case.isDeceased">, †</span>
        </div>
    </div>
    <p-divider layout="vertical" />
    <div class="flex flex-column" style="width: 20%">
        <div>Diagnosis pending</div>
        <div>No further information available</div>
    </div>
    <p-divider layout="vertical" />
    <div class="flex flex-column text-center gap-3" >
        Created
        <div class="">{{ case.createdAt | date }}</div>
    </div>
    <div class="flex flex-column text-center gap-2" >
        Manager
        <p-avatar 
            label="{{ createdByUsername && createdByUsername[0].toUpperCase() || '?' }}" 
            size="normal" 
            [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
            title="{{ createdByUsername }}" 
            shape="circle"/>
    </div>
    <div class="flex flex-column text-center gap-2"> 
        Contributors
        <p-avatarGroup styleClass="my-auto">
            <ng-container *ngFor="let username of updatedByUsernames;">
                <p-avatar 
                label="{{ username[0].toUpperCase() }}" 
                size="normal" 
                shape="circle"
                [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                title="{{ username }}" 
                />
            </ng-container>
            <p-avatar *ngIf="case.updatedByIds && case.updatedByIds.length > 2"
                label="+2" 
                shape="circle"
                size="normal" 
                [style]="{ 'background-color': 'grey', color: '#ffffff' }" />
        </p-avatarGroup> 
    </div>
</div>
