<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <div [inlineSVG]="layoutService.logo" alt="logo" class="pop-logo mr-3"></div>
        <div>
            <div class="layout-topbar-title text-xl">
                Precision Oncology Platform
            </div>
            <div class="layout-topbar-version">
                Release {{version}}
            </div>
        </div>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-button [icon]="layoutService.config.darkMode() ? 'pi pi-moon' : 'pi pi-sun'" [rounded]="true" [outlined]="true" (onClick)="layoutService.toggleDarkMode()" class="my-auto mr-3 btn-secondary"/>

        <p-button icon="pi pi-user" [rounded]="true" (onClick)="profile.toggle($event)" />
        <p-menu #profile [model]="profile_items" [popup]="true">
            <ng-template #start>
                <div class="flex m-3">
                    @let username = authService.getUsername();
                    <p-avatar [label]="username.toUpperCase()[0]" size="large" class="mr-2" shape="circle" />
                    <div class="flex-col my-auto">
                        <div class="font-bold mb-0">{{username}}</div>
                        <small>Admin</small>
                    </div>
                </div>
            </ng-template>
        </p-menu>

    </div>
</div>

<pop-settings-dialog></pop-settings-dialog>