<p-fluid>
    <form  id="comorbidities-form" [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label for="date" class="form-label required">Date of the assessment</label>
            <pop-datepicker 
                formControlName="date"
            />
            <pop-form-control-error controlName="date"></pop-form-control-error>
        </div>
        
        <div class="field">
            <label class="form-label required">Index condition</label>
            <p-select 
                [options]="relatedEntities.value() || []" 
                formControlName="indexCondition"
                optionLabel="description" 
                optionValue="id"
                placeholder="Select an option" />
            <pop-form-control-error controlName="indexCondition"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label required">Comorbidities panel</label>
            <p-select 
                [options]="comorbiditiesAssessmentPanelChoices" 
                formControlName="panel"
                optionLabel="name" 
                optionValue="value"
                placeholder="Select an option" />
            <pop-form-control-error controlName="panel"></pop-form-control-error>
        </div> 
        @if (!form.value.panel) {
            <div class="field">
                <label class="form-label required">Present comorbid conditions</label>
                <pop-concept-selector 
                    formControlName="presentConditions"
                    terminology="ICD10Condition"
                    [showSynonyms]="true"
                    [multiple]="true"/>
                <pop-form-control-error controlName="presentConditions"></pop-form-control-error>
            </div>

            <div class="field">
                <label class="form-label required">Absent comorbid conditions</label>
                <pop-concept-selector 
                    formControlName="absentConditions"
                    terminology="ICD10Condition"
                    [showSynonyms]="true"
                    [multiple]="true"/>
                <pop-form-control-error controlName="absentConditions"></pop-form-control-error>
            </div>
        }
    </form>

    @if (form.value.panel) {
        @for (category of panelForm(); track category.label) {
            <div class="field flex">                    
                <p-toggleswitch [(ngModel)]="category.checked"/>
                <label class="form-label ml-2 my-auto">{{category.label}}</label>
            </div>
            @if (category.checked) {
                <div class="field mt-3 ml-3">
                    <label>Please specify the condition:</label>
                    <p-select 
                    [(ngModel)]="category.selected"
                    [options]="category.conditions"
                    optionLabel="display"
                    placeholder="Select an option"
                    appendTo="body"/>
                </div>
            }

        } 
    }

    <button 
        pButton pRipple 
        type="submit" 
        label="Save" 
        form="comorbidities-form"
        styleClass="w-full p-3 mt-2"  
        [loading]="isSaving()"
        [disabled]="form.invalid">
    </button>
            
</p-fluid>