
.onconova-logo {
    color: var(--p-primary-color) !important;
}

.layout-topbar .onconova-logo svg {
    height: 3rem;
    width: 3rem;
}

.layout-footer .onconova-logo svg {
    height: 1.5rem;
    width: 1.5rem;
}


  