<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label for="date" class="form-label required">Date</label>
            <masked-calendar 
                formControlName="date"
            />
            <control-error controlName="date"></control-error>
        </div>

        <div class="field">
            <label class="form-label required">Neoplastic entities targeted</label>
            <reference-multiselect 
            formControlName="targetedEntities"
            [references]="relatedEntities"/>
            <control-error controlName="targetedEntities"></control-error>
        </div>
      
        <div class="field">
            <label class="form-label required">Intent</label>
            <radio-select  
            formControlName="intent"
            [choices]="intentChoices"
            class="flex flex-wrap gap-4"/>
            <control-error controlName="intent"></control-error>
        </div>


        <div class="field">
            <label class="form-label required">Surgical procedure</label>
            <coded-concept-select 
                formControlName="procedure"
                terminology="SurgicalProcedure"
                [showSynonyms]="true"/>
            <control-error controlName="procedure"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Anatomical location</label>
            <coded-concept-select 
                formControlName="bodysite"
                terminology="CancerTopography"
                [showSynonyms]="false"/>
            <control-error controlName="bodysite"></control-error>
        </div>


        <div class="field">
            <label class="form-label">Location qualifier</label>
            <coded-concept-select 
                formControlName="bodysiteQualifier"
                terminology="BodyLocationQualifier"
                [showSynonyms]="false"/>
            <control-error controlName="bodysiteQualifier"></control-error>
        </div>

        <div class="field">
            <label class="form-label">Location laterality</label>
            <coded-concept-select 
                formControlName="bodysiteLaterality"
                terminology="LateralityQualifier"
                [showSynonyms]="false"/>
            <control-error controlName="bodysiteLaterality"></control-error>
        </div>


        <div class="field">
            <label class="form-label">Outcome</label>
            <coded-concept-select 
                formControlName="outcome"
                terminology="ProcedureOutcome"
                [showSynonyms]="false"/>
            <control-error controlName="outcome"></control-error>
        </div>


        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="loading"
            [disabled]="form.invalid" />
            
    </form>
</p-fluid>