<p-dialog header="Preferences" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    
    <div class="field">
        <span class="font-semibold block mb-1">Dark mode</span>
        <small class="text-muted">Enable dark mode for a darker interface that's easier on the eyes in low-light environments.</small>
        <div class="flex mt-2">
            <p-toggleswitch 
            [ngModel]="layoutService.config.darkMode()"
            (onChange)="layoutService.config.darkMode.set($event.checked)"/>
            <label class="my-auto ml-2 block" style="line-height: 0;">{{ layoutService.config.darkMode() ? 'Enabled' : 'Disabled' }}</label>            
        </div>
    </div>
    <div>        
        <span class="font-semibold block mb-1">Color theme</span>
        <small class="text-muted">Choose your preferred color theme to personalize the look and feel of the interface. This will affect highlights, buttons, and other UI elements.</small>
        <div class="field-themes mt-2">
            @for (theme of themes; track theme.color;) {
                <p-button 
                styleClass="theme-config-color-button "
                (onClick)="layoutService.config.theme.set(theme.color)"
                [style]="{background: 'var(--p-' + theme.color + '-500)'}" />
            }
    </div>
</div>
</p-dialog>
