<p-table [value]="nestedData" >
  
    <ng-template pTemplate="header">
      <tr>
        @for (column of nestedDataColumn; track $index) {
            <th>{{ column | camelCaseToTitleCase }}</th>
        }
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-rowData>
        <tr>
            @for (column of nestedDataColumn; track $index) {
                <td>
                    @if (isNested(rowData[column])) {
                        <div class="flex">
                            <p-button 
                                [icon]="rowData[column].expanded ? 'pi pi-minus' : 'pi pi-plus'" 
                                [rounded]="true" 
                                [outlined]="true"
                                (onClick)="rowData[column].expanded = !rowData[column].expanded"
                                class="expand-nested-table-button"/>
                            <div>
                                @if (rowData[column].expanded) {
                                    <pop-nested-table [nestedData]="rowData[column]"></pop-nested-table>
                                } @else {
                                    {{ rowData[column].length }} entries
                                }
                            </div>
                        </div>  
                    } @else if (isArray(rowData[column])) {
                       <ul class="list-none	pl-0">
                           @for (val of rowData[column]; track $index;) {
                               <li class="mb-2">{{ rowData[column] || '-' }}</li>
                           }
                       </ul>
                    } @else {
                       {{ rowData[column] || '-' }}
                    }
                </td>
            }
        </tr>
    </ng-template>
    
</p-table>
  