
@let allowedUnits = allowedUnits$ | async; 
@let defaultUnit = defaultUnit$ | async; 
<p-inputgroup>
    <p-inputnumber 
        [(ngModel)]="inputValue"
        (onInput)="updateFormControlValue()"
        placeholder="Enter value" 
        useGrouping="false"
        suffix=" {{selectedUnit && selectedUnit.display || defaultUnit?.display}}"
        mode="decimal"
        [minFractionDigits]="1"
        [maxFractionDigits]="3"
        locale="en-US"/>
    <p-select 
        [(ngModel)]="selectedUnit" 
        (onChange)="updateFormControlValue()"
        [options]="allowedUnits || []" 
        optionLabel="display" 
        placeholder="selectedUnit" 
        appendTo="body"
        [filter]="true" 
        filterBy="display"
        />
</p-inputgroup>    