

<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="submitFormData()">

        <div class="field">
            <label for="currentStagingForm" class="form-label required">Staging domain</label>
            <p-select 
            [options]="stagingDomains" 
            formControlName="stagingDomain"
            optionLabel="label" 
            optionValue="value"
            placeholder="Select an option"/>
        </div>


        <div class="field">
            <label for="date" class="form-label required">Date of staging</label>
            <pop-datepicker 
                formControlName="date"
            />
            <pop-form-control-error controlName="date"></pop-form-control-error>
        </div>
        

        <div class="field">
            <label for="stagedEntities" class="form-label required">Staged neoplastic entities</label>
            <pop-multi-reference-select 
            [options]="relatedEntities.value() || []" 
            formControlName="stagedEntities"/>
            <pop-form-control-error controlName="stagedEntities"></pop-form-control-error>
        </div>

        @switch (form.value.stagingDomain) {
            @case ('tnm') {
                <ng-container formGroupName="tnm">
                    <div class="field">
                        <label for="methodology" class="form-label">Methodology</label>
                        <pop-concept-selector 
                            terminology="TNMStagingMethod"
                            [showCodes]="false"
                            [showSynonyms]="false"
                            formControlName="methodology"/>
                        <pop-form-control-error controlName="methodology"></pop-form-control-error>
                    </div>
                </ng-container>
                <div class="field">
                    <label for="stage" class="form-label required">Stage</label>
                    <pop-concept-selector 
                        terminology="TNMStage"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
                <ng-container formGroupName="tnm">
                    <div class="field">
                        <label for="pathological" class="form-label">Is the TNM staging based on a pathological assessment?</label>
                        <div class="flex flex-wrap gap-4">
                            @for (option of optionsYesNoUnknown; track option.value;) {
                                <div class="field-checkbox">
                                    <p-radiobutton [inputId]="option.label" [value]="option.value" formControlName="pathological" />
                                    <label [for]="option.label" class="ml-2">{{ option.label }}</label>
                                </div>
                            }
                        </div>
                        <pop-form-control-error controlName="pathological"></pop-form-control-error>
                    </div>
                    <div class="field"  style="max-width: 45rem">
                        <label class="form-label mb-3">TNM Parameters</label>
                        <div class="grid">
                            <div class="field col-4">
                                <label class="form-label">T - Primary Tumor</label>
                                <pop-concept-selector 
                                    terminology="TNMPrimaryTumorCategory"
                                    [showSynonyms]="false"
                                    formControlName="primaryTumor"/>
                                <pop-form-control-error controlName="primaryTumor"></pop-form-control-error>            
                            </div>
                            <div class="field col-4">
                                <label class="form-label">N - Regional nodes</label>
                                <pop-concept-selector 
                                    terminology="TNMRegionalNodesCategory"
                                    [showSynonyms]="false"
                                    formControlName="regionalNodes"/>
                                <pop-form-control-error controlName="regionalNodes"></pop-form-control-error>            
                            </div>
                            <div class="field col-4">
                                <label class="form-label">M - Distant Metastases</label>
                                <pop-concept-selector 
                                    terminology="TNMDistantMetastasesCategory"
                                    [showSynonyms]="false"
                                    formControlName="distantMetastases"/>
                                <pop-form-control-error controlName="distantMetastases"></pop-form-control-error>            
                            </div>
                            <div class="field col-4">
                                <label class="form-label">G - Grade</label>
                                <pop-concept-selector 
                                    terminology="TNMGradeCategory"
                                    [showSynonyms]="false"
                                    formControlName="grade"/>
                                <pop-form-control-error controlName="grade"></pop-form-control-error>            
                            </div>
                            <div class="field col-4">
                                <label class="form-label">R - Residual tumor</label>
                                <pop-concept-selector 
                                    terminology="TNMResidualTumorCategory"
                                    [showSynonyms]="false"
                                    formControlName="residualTumor"/>
                                <pop-form-control-error controlName="residualTumor"></pop-form-control-error>            
                            </div>
                            <div class="field col-4">
                                <label class="form-label">L - Lymphatic invasion</label>
                                <pop-concept-selector 
                                    terminology="TNMLymphaticInvasionCategory"
                                    [showSynonyms]="false"
                                    formControlName="lymphaticInvasion"/>
                                <pop-form-control-error controlName="lymphaticInvasion"></pop-form-control-error>            
                            </div>
                            <div class="field col-4">
                                <label class="form-label">V - Venous invasion</label>
                                <pop-concept-selector 
                                    terminology="TNMVenousInvasionCategory"
                                    [showSynonyms]="false"
                                    formControlName="venousInvasion"/>
                                <pop-form-control-error controlName="venousInvasion"></pop-form-control-error>            
                            </div>
                            <div class="field col-4">
                                <label class="form-label">Pn - Perineural invasion</label>
                                <pop-concept-selector 
                                    terminology="TNMPerineuralInvasionCategory"
                                    [showSynonyms]="false"
                                    formControlName="perineuralInvasion"/>
                                <pop-form-control-error controlName="perineuralInvasion"></pop-form-control-error>            
                            </div>
                            <div class="field col-4">
                                <label class="form-label">S - Serum marker level</label>
                                <pop-concept-selector 
                                    terminology="TNMSerumTumorMarkerLevelCategory"
                                    [showSynonyms]="false"
                                    formControlName="serumTumorMarkerLevel"/>
                                <pop-form-control-error controlName="serumTumorMarkerLevel"></pop-form-control-error>            
                            </div>
                        </div>
                    </div>
                </ng-container>
            }
            @case ('figo') {
                <ng-container formGroupName="figo">
                    <div class="field">
                        <label for="methodology" class="form-label">Methodology</label>
                        <pop-concept-selector 
                            terminology="FIGOStagingMethod"
                            [showCodes]="false"
                            [showSynonyms]="false"
                            formControlName="methodology"/>
                        <pop-form-control-error controlName="methodology"></pop-form-control-error>
                    </div>
                </ng-container>
                <div class="field">
                    <label for="stage" class="form-label required">Stage</label>
                    <pop-concept-selector 
                        terminology="FIGOStage"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('binet') {
                <div class="field">
                    <label for="stage" class="form-label required">Stage</label>
                    <pop-concept-selector 
                        terminology="BinetStage"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('rai') {
                <ng-container formGroupName="rai">
                    <div class="field">
                        <label for="methodology" class="form-label">Methodology</label>
                        <pop-concept-selector 
                            terminology="RaiStagingMethod"
                            [showCodes]="false"
                            [showSynonyms]="false"
                            formControlName="methodology"/>
                        <pop-form-control-error controlName="methodology"></pop-form-control-error>
                    </div>
                </ng-container>
                <div class="field">
                    <label for="stage" class="form-label required">Stage</label>
                    <pop-concept-selector 
                        terminology="RaiStage"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('breslow') {
                <ng-container formGroupName="breslow">
                    <div class="field">
                        <label for="depth" class="form-label required">Breslow depth (mm)</label>
                        <pop-measure-input 
                            formControlName="depth"
                            measure="Distance"
                            defaultUnit="mm"/>
                        <pop-form-control-error controlName="depth"></pop-form-control-error>
                    </div>
                    <div class="field">
                        <label for="isUlcered" class="form-label">Is ulcered?</label>
                        <div class="flex flex-wrap gap-4">
                            @for (option of optionsYesNoUnknown; track option.value;) {
                                <div class="field-checkbox">
                                    <p-radiobutton [inputId]="option.label" [value]="option.value" formControlName="isUlcered" />
                                    <label [for]="option.label" class="ml-2">{{ option.label }}</label>
                                </div>    
                            }
                        </div>
                        <pop-form-control-error controlName="isUlcered"></pop-form-control-error>
                    </div>
                </ng-container> 
            }
            @case ('clark') {
                <div class="field">
                    <label for="stage" class="form-label required">Clark level</label>
                    <pop-concept-selector 
                        terminology="ClarkLevel"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('iss') {
                <div class="field">
                    <label for="stage" class="form-label required">Stage</label>
                    <pop-concept-selector 
                        terminology="MyelomaISSStage"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('riss') {
                <div class="field">
                    <label for="stage" class="form-label required">Stage</label>
                    <pop-concept-selector 
                        terminology="MyelomaRISSStage"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('inss') {
                <div class="field">
                    <label for="stage" class="form-label required">Stage</label>
                    <pop-concept-selector 
                        terminology="NeuroblastomaINSSStage"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('inrgss') {   
                <div class="field">
                    <label for="stage" class="form-label required">Stage</label>
                    <pop-concept-selector 
                        terminology="NeuroblastomaINRGSSStage"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('gleason') {   
                <div class="field">
                    <label for="stage" class="form-label required">Group stage</label>
                    <pop-concept-selector 
                        terminology="GleasonGradeGroupStage"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('wilms') {   
                <div class="field">
                    <label for="stage" class="form-label required">Tumor stage</label>
                    <pop-concept-selector 
                        terminology="WilmsTumorStage"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('rhabdomyosarcoma') {   
                <div class="field">
                    <label for="stage" class="form-label required">Clinical group</label>
                    <pop-concept-selector 
                        terminology="RhabdomyosarcomaClinicalGroup"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
            }
            @case ('lymphoma') {                   
                <ng-container formGroupName="lymphoma">
                    <div class="field">
                        <label for="methodology" class="form-label">Methodology</label>
                        <pop-concept-selector 
                            terminology="LymphomaStagingMethod"
                            [showCodes]="false"
                            [showSynonyms]="false"
                            formControlName="methodology"/>
                        <pop-form-control-error controlName="methodology"></pop-form-control-error>
                    </div>
                </ng-container>
                <div class="field">
                    <label for="stage" class="form-label required">Stage</label>
                    <pop-concept-selector 
                        terminology="LymphomaStage"
                        [showCodes]="false"
                        [showSynonyms]="false"
                        formControlName="stage"/>
                    <pop-form-control-error controlName="stage"></pop-form-control-error>
                </div>
                <ng-container formGroupName="lymphoma">
                    <div class="field">
                        <label for="bulky" class="form-label">Is there presence of bulky disease?</label>
                        <div class="flex flex-wrap gap-4">
                            @for (option of optionsYesNoUnknown; track option.value;) {
                                <div class="field-checkbox">
                                    <p-radiobutton [inputId]="option.label" [value]="option.value" formControlName="bulky" />
                                    <label [for]="option.label" class="ml-2">{{ option.label }}</label>
                                </div>    
                            }
                        </div>
                        <pop-form-control-error controlName="bulky"></pop-form-control-error>
                    </div>
                    <div class="field">
                        <label for="pathological" class="form-label">Was the staging performed in a pathological setting?</label>
                        <div class="flex flex-wrap gap-4">
                            @for (option of optionsYesNoUnknown; track option.value;) {
                                <div class="field-checkbox">
                                    <p-radiobutton [inputId]="option.label" [value]="option.value" formControlName="pathological" />
                                    <label [for]="option.label" class="ml-2">{{ option.label }}</label>
                                </div>    
                            }
                        </div>
                        <pop-form-control-error controlName="pathological"></pop-form-control-error>
                    </div>
                    <div class="field">
                        <label for="methodology" class="form-label">Modifiers</label>
                        <pop-concept-selector 
                            terminology="LymphomaStageValueModifier"
                            [showCodes]="false"
                            [showSynonyms]="false"
                            formControlName="methodology"/>
                        <pop-form-control-error controlName="methodology"></pop-form-control-error>
                    </div>
                </ng-container>
            }
        }

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />
    </form>
</p-fluid>
