
/* Use the primeng style for the rules and make it switch with theme */
.q-rule {
    background-color: light-dark(var(--p-surface-50), var(--p-surface-800)) !important;
    border-radius: var(--p-border-radius-sm);
}
.q-rule, .q-ruleset {
    border-color: var(--p-content-border-color) !important;
}

/* Adjust the tree-like structure joining the rulesets and rules */
.q-connector::before {
    height: calc(50% + 20px) !important;
    top: -20px !important;
}
.q-connector::before, .q-connector::after {
    border-color: var(--p-content-border-color) !important;
}

.remove-rule-button{
    position: absolute !important;
    right: 0rem !important;
}