.p-dataview .p-dataview-content{
    background: none !important;
}
.loading-card, .case-search-card {
    background: var(--p-dataview-content-background);
}
.case-search-card {
    border-left: solid 4px var(--p-dataview-header-border-color);
}
.case-search-card:hover {
    border-left: solid 4px var(--p-primary-color);
}
.p-avatar {
    line-height: 0 !important;
    padding: 1rem;
}
p-inputicon.pi.pi-search.p-inputicon {
    top: 1.2rem !important; 
}
pop-case-search-item {
    display: block !important;
    width: fit-content !important;
    margin: auto !important;
}
.diagnosis-text {
    color: light-dark(var(--p-primary-950), var(--p-primary-50));
}

.cohort-criteria-panel .p-panel {
    border: none;
}
.cohort-statistics-avatar.p-avatar{
    background-color: color-mix(in srgb, var(--p-primary-500), transparent 80%) !important;
    color: var(--p-primary-500) !important;
}
.is-public-chip .p-chip{
    background-color: color-mix(in srgb, var(--p-primary-500), transparent 80%) !important;
}
.is-public-chip .p-chip, .is-public-chip .p-chip-icon{
    color: var(--p-primary-500) !important;
}
