<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label for="date" class="form-label required">Date of the analysis</label>
            <pop-datepicker 
                formControlName="date"
            />
            <control-error controlName="date"></control-error>
        </div>
        

        <div class="field">
            <label class="form-label required">Neoplastic entities assessed</label>
            <reference-multiselect 
            [references]="relatedEntities" 
            formControlName="stagedEntities"/>
            <control-error controlName="stagedEntities"></control-error>
        </div>

        <div class="field">
            <label class="form-label required">Analyte</label>
            @let analytes = analytes$ | async ;
            <p-selectbutton [options]="analytes || []" formControlName="analyte" optionLabel="justify" class="tumor-markers">
                <ng-template #item let-analyte>
                    <span pTooltip="{{ analyte.properties.display }}" tooltipPosition="bottom">{{ analyte.properties.acronym }}</span>
                </ng-template>
            </p-selectbutton>
            <control-error controlName="analyte"></control-error>
        </div>
        
        <div class="field">
            <label class="form-label required">Result type</label>
            <div class="no-entries-text" *ngIf="resultsType.length == 0">Select an analyte to show choices</div>
            <div  class="flex flex-wrap gap-4">
                <ng-container *ngFor="let analyteResultType of analyteResultTypeChoices">
                    <div class="flex items-center" *ngIf="resultsType.includes(analyteResultType.value)">
                        <p-radiobutton [inputId]="analyteResultType.value" [value]="analyteResultType.value" formControlName="valueType" />
                        <label [for]="analyteResultType.value" class="ml-2">{{ analyteResultType.name }}</label>
                    </div>
                </ng-container>
            </div>
        </div>
        
        <div class="field">
            <label class="form-label required">Tumor marker result</label>
            <div class="no-entries-text" *ngIf="!form.value.valueType">Select an result type first</div>
            <measure-input 
                *ngIf="form.value.valueType == analyteResultTypes.MassConcentration" 
                formControlName="massConcentration" 
                measure="MassConcentration"/>
            <measure-input 
                *ngIf="form.value.valueType == analyteResultTypes.SubstanceConcentration" 
                formControlName="substanceConcentration" 
                measure="SubstanceConcentration"/>
            <measure-input 
                *ngIf="form.value.valueType == analyteResultTypes.ArbitraryConcentration" 
                formControlName="arbitraryConcentration" 
                measure="ArbitraryConcentration"/>
            <measure-input 
                *ngIf="form.value.valueType == analyteResultTypes.Fraction" 
                formControlName="fraction" 
                measure="Fraction"/>
            <radio-select  
                *ngIf="form.value.valueType == analyteResultTypes.Presence" 
                formControlName="presence"
                [choices]="tumorMarkerPresenceChoices"
                class="flex flex-wrap gap-4"/>
            <radio-select  
                *ngIf="form.value.valueType == analyteResultTypes.ImmunoHistoChemicalScore" 
                formControlName="immunoHistoChemicalScore"
                [choices]="tumorMarkerImmunohistochemicalScoreChoices"
                class="flex flex-wrap gap-4"/>
            <radio-select  
                *ngIf="form.value.valueType == analyteResultTypes.NuclearExpressionStatus" 
                formControlName="nuclearExpressionStatus"
                [choices]="tumorMarkerNuclearExpressionStatusChoices"
                class="flex flex-wrap gap-4"/>
            <radio-select  
                *ngIf="form.value.valueType == analyteResultTypes.TumorProportionScore" 
                formControlName="tumorProportionScore"
                [choices]="tumorMarkerTumorProportionScoreChoices"
                class="flex flex-wrap gap-4"/>
            <radio-select  
                *ngIf="form.value.valueType == analyteResultTypes.ImmuneCellsScore" 
                formControlName="immuneCellScore"
                [choices]="tumorMarkerImmuneCellScoreChoices"
                class="flex flex-wrap gap-4"/>
            <measure-input 
                *ngIf="form.value.valueType == analyteResultTypes.CombinedPositiveScore" 
                formControlName="combinedPositiveScore" 
                measure="Fraction"/>

        </div>
        
        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="loading"
            [disabled]="form.invalid" />
    </form>
</p-fluid>