<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="onSave()">

        <div class="field">
            <label for="date" class="form-label required">Date of the analysis</label>
            <pop-datepicker 
                formControlName="date"
            />
            <pop-form-control-error controlName="date"></pop-form-control-error>
        </div>
        

        <div class="field">
            <label class="form-label required">Neoplastic entities assessed</label>
            <pop-multi-reference-select 
            [options]="relatedEntities" 
            formControlName="stagedEntities"/>
            <pop-form-control-error controlName="stagedEntities"></pop-form-control-error>
        </div>

        <div class="field">
            <label class="form-label required">Analyte</label>
            @let analytes = analytes$ | async ;
            <p-selectbutton [options]="analytes || []" formControlName="analyte" optionLabel="justify" class="tumor-markers">
                <ng-template #item let-analyte>
                    <span pTooltip="{{ analyte.properties.display }}" tooltipPosition="bottom">{{ analyte.properties.acronym }}</span>
                </ng-template>
            </p-selectbutton>
            <pop-form-control-error controlName="analyte"></pop-form-control-error>
        </div>
        
        <div class="field">
            <label class="form-label required">Result type</label>
            @if (resultsType.length > 0) {
                <div class="flex flex-wrap gap-4">
                    @for (analyteResultType of analyteResultTypeChoices; track analyteResultType.value) {
                        @if (resultsType.includes(analyteResultType.value)) {
                            <div class="flex items-center">
                                <p-radiobutton [inputId]="analyteResultType.value" [value]="analyteResultType.value" formControlName="valueType" />
                                <label [for]="analyteResultType.value" class="ml-2">{{ analyteResultType.name }}</label>
                            </div>    
                        }
                    }

                </div>
            } @else {
                <div class="text-muted">Select an analyte to show choices</div>
            }
        </div>
        
        <div class="field">
            <label class="form-label required">Tumor marker result</label>
            @switch (form.value.valueType) {
                @case (analyteResultTypes.MassConcentration) {
                    <pop-measure-input formControlName="massConcentration" measure="MassConcentration"/>
                }
                @case (analyteResultTypes.SubstanceConcentration) {
                    <pop-measure-input formControlName="substanceConcentration" measure="SubstanceConcentration"/>
                }
                @case (analyteResultTypes.ArbitraryConcentration) {
                    <pop-measure-input formControlName="arbitraryConcentration" measure="ArbitraryConcentration" defaultUnit="kIU/l"/>
                }
                @case (analyteResultTypes.Fraction) {
                    <pop-measure-input formControlName="fraction" measure="Fraction"/>
                }
                @case (analyteResultTypes.Presence) {
                    <pop-radio-select formControlName="presence" [choices]="tumorMarkerPresenceChoices" class="flex flex-wrap gap-4"/>
                }
                @case (analyteResultTypes.ImmunoHistoChemicalScore) {
                    <pop-radio-select formControlName="immunoHistoChemicalScore" [choices]="tumorMarkerImmunohistochemicalScoreChoices" class="flex flex-wrap gap-4"/>
                }
                @case (analyteResultTypes.NuclearExpressionStatus) {
                    <pop-radio-select formControlName="nuclearExpressionStatus" [choices]="tumorMarkerNuclearExpressionStatusChoices" class="flex flex-wrap gap-4"/>
                }
                @case (analyteResultTypes.TumorProportionScore) {
                    <pop-radio-select formControlName="tumorProportionScore" [choices]="tumorMarkerTumorProportionScoreChoices" class="flex flex-wrap gap-4"/>
                }
                @case (analyteResultTypes.ImmuneCellsScore) {
                    <pop-radio-select formControlName="immuneCellScore" [choices]="tumorMarkerImmuneCellScoreChoices" class="flex flex-wrap gap-4"/>
                }
                @case (analyteResultTypes.CombinedPositiveScore) {
                    <pop-measure-input formControlName="combinedPositiveScore" measure="Fraction"/>
                }
                @default {
                    <div class="text-muted">Select an result type first</div>
                }
            }
        </div>
        
        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />
    </form>
</p-fluid>