<p-panel 
    class="case-manager-panel"
    [toggleable]="true" 
    [collapsed]="false" 
    collapseIcon="pi pi-angle-down" 
    expandIcon="pi pi-angle-up" 
    styleClass="mb-3">
    <ng-template #header>
        <div class="flex align-items-center gap-2">
            <p-avatar 
                size="normal" 
                shape="square" 
                [style]="{ 'background-color': 'color-mix(in srgb, var(--p-primary-500), transparent 80%)', color: 'var(--p-primary-500)' }">
                <lucide-angular [img]="icon" ></lucide-angular>
            </p-avatar>
            <span class="case-manager-panel-title" >
                {{ title }}
            </span>
            <p-badge 
                [value]="loadingData ? '-' : entries.length" 
                [severity]="entries.length ? 'primary' : 'secondary'" />
            @if (completed) {
                <i class="pi pi-star-fill" style="color: var(--p-primary-color)"></i>                
            }
        </div>
        
        @if (!loadingData) {
            @let menuItems = menuItems$ | async;
            @if (authService.user.canManageCases) {
                <i class="pi pi-cog cursor-pointer ml-auto my-auto" 
                style="color: var(--p-button-text-secondary-color)" 
                (click)="menu.toggle($event)"></i>
            }
            <p-confirmdialog />
            <p-menu #menu 
            [model]="menuItems || getMenuItems()" 
            [popup]="true"/>
        }
    </ng-template>
    

    <div>
        @if (loadingData) {
            <div>
                <p-skeleton width="100%" styleClass="mb-2" />
                <p-skeleton width="100%" styleClass="mb-2" />
            </div>
        } @else if (entries.length == 0) {
            <div class="text-muted">
                No entries associated with this case
            </div>
        } @else {
            <pop-resource-timeline [entries]="entries" [onEventClick]="showDrawer.bind(this)"></pop-resource-timeline>
        }
    </div>
</p-panel>

<pop-case-manager-drawer 
    [(visible)]="drawerVisible" 
    [data]="drawerData" 
    [history$]="drawerHistory" 
    [icon]="icon"
    [editable]="!completed"
    (delete)="deleteEntry($event)"
    (update)="updateEntry($event)"/>
