.case-manager-panel .p-timeline-event {
    min-height: 1rem !important;
}
.case-manager-panel .p-timeline-event-opposite {
    display: none !important;
}
.case-manager-panel .p-timeline-event-content {
    padding-bottom: .75rem !important;
}
.case-manager-panel .p-timeline-event {
    min-height: unset;
}
.case-manager-panel .p-badge {
    color: light-dark(var(--p-primary-600), var(--p-primary-400));
    background-color: color-mix(in srgb, var(--p-primary-400), transparent 80%) !important;
}
.case-manager-panel .p-avatar {
    line-height: 0.25;
    padding: 1rem;
}
.case-manager-panel .no-entries-text {
    margin-left: 1rem;
    color: color-mix(in srgb, var(--p-text-muted-color), transparent 25%);
}
.completed-category .pi-star-fill {
    color: var(--p-primary-color) !important;
}
.case-manager-panel-title {
    font-size: 1.1rem; 
    font-weight: 550; 
    /* color: light-dark(var(--p-primary-700), var(--p-primary-200)); */
}
.case-manager-panel-timeline {
    margin-left: .4rem;
}

.case-manager-panel-timeline-date {
    color: light-dark(var(--p-primary-900), var(--p-primary-100));
}

.case-manager-panel .p-panel-content {
    padding-bottom: 0;
}

