<p-panel 
    class="pop-case-manager-panel"
    [toggleable]="true" 
    [collapsed]="false" 
    collapseIcon="pi pi-angle-down" 
    expandIcon="pi pi-angle-up" 
    styleClass="mb-3">
    <ng-template #header>
        <div class="flex align-items-center gap-2">
            <p-avatar size="normal" shape="square">
                <lucide-angular [img]="icon" ></lucide-angular>
            </p-avatar>
            <span class="pop-case-manager-header-title" >
                {{ title }}
            </span>
            <p-badge styleClass="pop-case-manager-counter-badge" 
                [value]="loadingData ? '-' : entries.length" 
                [severity]="entries.length ? 'primary' : 'secondary'"/>
            @if (completed) {
                <i class="pi pi-star-fill"></i>                
            }
        </div>
        
        @if (!loadingData) {
            @let menuItems = menuItems$ | async;
            @if (authService.user.canManageCases) {
                <i class="pop-case-manager-menu-button pi pi-cog" 
                (click)="menu.toggle($event)"></i>
            }
            <p-confirmdialog />
            <p-menu #menu 
            [model]="menuItems || getMenuItems()" 
            [popup]="true"/>
        }
    </ng-template>
    
    @if (loadingData) {
        <div>
            <p-skeleton width="100%" styleClass="mb-2" />
            <p-skeleton width="100%" styleClass="mb-2" />
        </div>
    } @else if (entries.length == 0) {
        <div class="text-muted">
            No entries associated with this case
        </div>
    } @else {
        <pop-case-manager-panel-timeline [entries]="entries" [onEventClick]="showDrawer.bind(this)"></pop-case-manager-panel-timeline>
    }
</p-panel>

<pop-case-manager-drawer 
    styleClass="pop-case-manager-drawer"
    [(visible)]="drawerVisible" 
    [data]="drawerData" 
    [history$]="drawerHistory" 
    [icon]="icon"
    [editable]="!completed"
    (delete)="deleteEntry($event)"
    (update)="updateEntry($event)"/>
