<p-fluid>
    <form  [formGroup]="form()" (ngSubmit)="submitFormData()" >
        
        <div class="field">
            <label class="form-label required">Cohort title</label>
            <input type="text" pInputText formControlName="name" 
            [attr.disabled]="invalidUser()"/>
            <onconova-form-control-error controlName="name"></onconova-form-control-error>
        </div>


        <div class="field">
            <label class="form-label required">Project associated to this cohort</label>
            <p-select 
            [options]="relatedProjects.value() || []" 
            formControlName="project"
            [disabled]="invalidUser()"
            optionLabel="title" 
            optionValue="id"
            appendTo="body"
            placeholder="Select a project" />
        </div>

        @if (invalidUser()) {
            <p-message styleClass="my-3" severity="error" text="You are not a member of any ongoing projects"></p-message>
        }

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form().invalid" />

    </form>
</p-fluid>  