
<div class="case-search-card card flex-column flex-grow-0 p-3 gap-3 mb-3" style="width: 30rem;">
    
    <div class="flex gap-3">
        <!-- Identicon -->
        <p-avatar size="xlarge" [style]="{'background': 'none', 'border': 'none', 'padding': '0'}">
            <svg class="jdenticon" width="4rem" height="4rem" [data-jdenticon-value]="[case.pseudoidentifier]"></svg>
        </p-avatar>

        <div class="flex flex-column my-auto monospace" style="width: 75%">
            <div class="text-xl font-bold" style="font-family: monospace;">{{case.pseudoidentifier}}</div>
            <div class="text-muted font-medium">
                {{ case.gender.display }}, {{case.age}} years<span *ngIf="case.isDeceased">, †</span>
            </div>
        </div>

        <p-knob 
            [ngModel]="case.dataCompletionRate" 
            [readonly]="true" 
            valueTemplate="{value}%"
            [size]="55"/>
    </div>

    <p-divider layout="horizontal" />

    <div class="flex flex-column mb-3 diagnosis-text">
        @let primaryEntity = primaryEntity$ | async;
        <small class="text-muted mb-1">Diagnosis</small>
        <ng-container *ngIf="!loadingDiagnosis else diagnosisSkeleton">
            <div *ngIf="primaryEntity" class="flex gap-2">
                <cancer-icon class="my-auto" [topography]="primaryEntity.topography.code"></cancer-icon>
                <div class="diagnosis-text my-auto">{{ primaryEntity.description }}</div>
            </div>
            <div *ngIf="!primaryEntity"> 
                <div class="diagnosis-text">-</div>
            </div>
        </ng-container>
        <ng-template #diagnosisSkeleton>
            <p-skeleton [style]="{ width: '20rem', height: '2rem' }"></p-skeleton>      
        </ng-template>
    </div>

    <div class="flex gap-4">
        <div class="flex flex-column mb-3 diagnosis-text">
            @let latestStaging = latestStaging$ | async;
            <small class="text-muted mb-1">Staging</small>
            <ng-container *ngIf="!loadingStaging else stagingSkeleton">
                <div *ngIf="latestStaging">
                    <div class="diagnosis-text my-auto">{{ latestStaging.description }}</div>
                </div>
                <div *ngIf="!latestStaging"> 
                    <div class="diagnosis-text">-</div>
                </div>
            </ng-container>
            <ng-template #stagingSkeleton>
                <p-skeleton [style]="{ width: '10rem', height: '1rem' }"></p-skeleton>      
            </ng-template>
        </div>

        <div class="flex flex-column mb-3 diagnosis-text">
            @let latestTherapyLine = latestTherapyLine$ | async;
            <small class="text-muted mb-1">Therapy Line</small>
            <ng-container *ngIf="!loadingStaging else therapyLineSkeleton">
                <div *ngIf="latestTherapyLine">
                    <div class="diagnosis-text my-auto">{{ latestTherapyLine }}</div>
                </div>
                <div *ngIf="!latestTherapyLine"> 
                    <div class="diagnosis-text">-</div>
                </div>
            </ng-container>
            <ng-template #therapyLineSkeleton>
                <p-skeleton [style]="{ width: '10rem', height: '1rem' }"></p-skeleton>      
            </ng-template>
        </div>
    </div>



    <div class="flex gap-5">

        <div class="flex flex-column align-items-center	gap-1" *ngIf="this.case.createdBy" >
            <small class="text-muted">Manager</small>
                <p-avatar 
                    label="{{ case.createdBy.username[0].toUpperCase() }}{{ case.createdBy.username[1].toUpperCase() }}" 
                    size="normal" 
                    class="manager-avatar"
                    [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                    title="{{ case.createdBy.username }}" 
                    shape="circle"/>
        </div>

        <div class="flex-column align-items-center text-muted my-auto">
            <div>
                <small>Created</small>
            </div>
            <div class="text-center">
                <small class="font-semibold">{{ case.createdAt | date:'MMM dd' }}</small>
            </div> 
            <div class="text-center">
                <small class="font-semibold">{{ case.createdAt | date:'yyyy' }}</small>
            </div> 
        </div>

        <p-confirmdialog />
        <p-splitbutton
            label="Open case management"
            class="mt-auto"
            dropdownIcon="pi pi-cog" [model]="actionItems"
            (onClick)="openCaseManagement()" />
    </div>
</div>
