<div class="flex">
    <div>
        <h6 class="mb-0">Research Management</h6>
        <h2 class="mb-0 mt-0 font-semibold">
            {{ isUserPage() ? 'My Cohort Contributions' : 'Cohort Explorer'}}
        </h2>
        <div class="text-muted">
            @if (isUserPage()) {
                Welcome to your personalized cohorts page. You can find all cohorts to which you have contributed.
            } @else {
                Welcome to the cohort explorer. You can find all existing cohorts here.
            }
        </div>    
    </div>    
    <p-button
        icon="pi pi-question-circle"
        label="Tutorial" 
        [outlined]="true"
        class="ml-auto"
        (onClick)="startTour()"/>
</div>

<p-toolbar styleClass="my-3 border-transparent">

    <ng-template #start>
        <div class="cohort-search-results-count mt-auto ml-3">
            <div class="text-muted"><small>Total cohorts</small></div>
            @if (cohorts.isLoading()) {
                <p-skeleton width="4rem" height="2rem"/>
            } @else {
                <div class="text-center text-3xl font-semibold" [ngxCountAnimation]="totalCohorts()" duration="500"></div>
            }
        </div>        
    </ng-template>

    <ng-template #end>
        <div class="flex gap-2 align-items-center">
            <div class="cohort-search-filters flex gap-2">
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search"/>
                    <input type="text" pInputText placeholder="Search by Title" [(ngModel)]="searchQuery"/>
                </p-iconfield>
            </div>
            <p-divider layout="vertical"></p-divider>

            <p-button 
                id="cohort-search-refresh-cohorts-button"
                icon="pi pi-sync"
                title="Refresh cases"
                severity="secondary"
                (onClick)="cohorts.reload()"/>
            <!-- Button to add new projects -->
            <p-button 
                id="cohort-search-new-cohort-button"
                (onClick)="openNewCohortForm()" 
                label="Register New Cohort"
                icon="pi pi-plus"/>
        </div>
    </ng-template>

</p-toolbar>
    
@if (cohorts.isLoading()) {
    <div class="grid mt-3 gap-3">
        @for (_ of [].constructor(15); track $index; let first = $first;) {
            <div class="pop-cohort-search-item-card placeholder">
                <div class="flex my-3 gap-3">
                    <p-skeleton width='4rem' height='2rem'/>
                    <p-skeleton width='40rem' height='2rem'/>    
                    <p-skeleton width='5rem' height='2rem'/>    
                </div>
                <div class="flex my-3 gap-3">
                    <p-skeleton width='4rem' height='2rem'/>
                    <p-skeleton width='6rem' height='2rem'/>
                    <p-skeleton width='6rem' height='2rem'/>
                    <p-skeleton width='6rem' height='2rem'/>
                    <p-skeleton width='9rem' height='2rem' class="ml-auto"/>    
                </div>
            </div>        
        }
    </div>
}

<p-dataView 
    styleClass="pop-cohort-search-dataview"
    [value]="cohorts.value() || undefined"
    [paginator]="true" 
    [rows]="pagination().limit" 
    layout="grid"
    sortField="createdAt"
    lazy="true"
    [rowsPerPageOptions]="pageSizeChoices"
    [totalRecords]="totalCohorts()"
    (onLazyLoad)="pagination.set({limit: $event.rows, offset: $event.first})"
    class="no-background">

    <ng-template #grid let-cohorts>
        <div class="grid mt-3">
            @for (cohort of cohorts; track cohort.id; let first = $first;) {
                <div class="col col-6 p-2">
                    <pop-cohort-search-item [cohort]="cohort" (delete)="cohorts.reload()"/>
                </div>
            }
        </div>
    </ng-template>
</p-dataView>


