
<p-inputgroup>
    <p-inputnumber 
        [(ngModel)]="measureValue"
        (onInput)="updateFormControlValue()"
        placeholder="Enter value" 
        useGrouping="false"
        suffix=" {{measureUnit && measureUnit.display || defaultMeasureUnit.value()?.display}}"
        mode="decimal"
        [minFractionDigits]="1"
        [maxFractionDigits]="3"
        locale="en-US"/>
    <p-select 
        [(ngModel)]="measureUnit" 
        (onChange)="updateFormControlValue()"
        [options]="allowedUnits.value() || []" 
        optionLabel="display" 
        placeholder="selectedUnit" 
        appendTo="body"
        [filter]="true" 
        filterBy="display"
        />
</p-inputgroup>    