.p-dialog {
    border: none;
}
.p-dialog-header {
    background: var(--blue-500);
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
    color: white;
}
.p-dialog-header-icons i {
    color: white;
}
.form-title .title{
    font-size: 1.2rem;
    font-weight: 550;
}
.form-title .subtitle{
    font-size: .9rem;
    color: var(--blue-100)
}
.p-avatar {
    line-height: 0 !important;
    padding: 1rem;
}
