<p-dialog 
    [visible]="visible"
    [closable]="true"
    [modal]="true" 
    [focusOnShow]="false"
    (onHide)="onClose()"
    styleHeader=""
    >
    <ng-template pTemplate="header">
        <p-avatar 
            icon="pi pi-user" 
            styleClass="mr-2" 
            size="large" />
        <div class="flex-column">
            <div class="font-bold white-space-nowrap text-xl">
                Accesioning
            </div>
            <div class="fwhite-space-nowrap">
                Add new case
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="closeicon">
        <i class="pi pi-times" (click)="onClose()"></i>
    </ng-template>
    <ng-container #formContent></ng-container>
</p-dialog>