<p-dialog 
    [visible]="visible"
    [closable]="true"
    [modal]="true" 
    [focusOnShow]="false"
    (visibleChange)="onClose()"
    [style]="{'min-width': '25%'}"
    styleHeader=""
    >
    <ng-template pTemplate="header">
        <p-avatar 
            styleClass="mr-2" 
            [style]="{ 'background-color': 'var(--blue-100)', color: 'var(--blue-500)' }"
            size="large">
            <lucide-angular [img]="formComponent.icon" ></lucide-angular>
        </p-avatar>
        <div class="flex-column form-title ml-2 mr-auto">
            <div class="title">
                {{formComponent.title}}
            </div>
            <div class="subtitle">
                {{formComponent.subtitle}}
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="closeicon">
        <i class="pi pi-times" ></i>
    </ng-template>
    <ng-container #formContent></ng-container>
</p-dialog>