<p-dialog 
    [visible]="visible"
    [closable]="true"
    [modal]="true" 
    [focusOnShow]="false"
    (onHide)="onClose()"
    styleHeader=""
    >
    <ng-template pTemplate="header">
        <p-avatar 
            icon="pi pi-user" 
            styleClass="mr-2" 
            size="large" />
        <div class="flex-column form-title ml-2 mr-auto">
            <div class="title">
                {{formComponent.title}}
            </div>
            <div class="subtitle">
                {{formComponent.subtitle}}
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="closeicon">
        <i class="pi pi-times" (click)="onClose()"></i>
    </ng-template>
    <ng-container #formContent></ng-container>
</p-dialog>