
@if (layout() === 'card') {

    <div class="pop-case-search-item-card">
        
        <!-- Cartd header -->
        <div class="flex gap-3">
             <ng-template [ngTemplateOutlet]="CaseInfo"></ng-template>

            <!-- Case data collection progress -->
            <p-knob 
                [ngModel]="case().dataCompletionRate" 
                [readonly]="true" 
                valueTemplate="{value}%"
                class="ml-auto"
                [size]="50"/>
        </div>

        <p-divider layout="horizontal" styleClass="mt-2"/>

        <!-- Diagnosis information -->
        <div class="flex flex-column mb-3 ">
            <small class="text-muted mb-1">Diagnosis</small>
            <ng-template [ngTemplateOutlet]="Diagnosis"></ng-template>
        </div>

        <!-- Staging information -->
        <div class="flex gap-4">
            <div class="flex flex-column mb-3 ">
                <small class="text-muted mb-1">Staging</small>
                @if (latestStaging.isLoading()) {
                    <p-skeleton width="10rem" height="1rem"></p-skeleton>    
                } @else {
                    <div class="my-auto">
                        @if (latestStaging.value(); as staging) {
                            {{ staging.description }}
                        } @else {
                            -
                        }
                    </div>
                }
            </div>

        <!-- Therapy line information -->
            <div class="flex flex-column mb-3 ">
                <small class="text-muted mb-1">Therapy Line</small>
                @if (latestTherapyLine.isLoading()) {
                    <p-skeleton width="10rem" height="1rem"></p-skeleton>    
                } @else {
                    <div class="my-auto">
                        @if (latestTherapyLine.value(); as line) {
                            {{ line.label }}
                        } @else {
                            -
                        }
                    </div>
                }
            </div>
        </div>

        <div class="flex gap-5">        
            <div class="flex flex-column mb-3 gap-1">
                <small class="text-muted">Contributors</small>            
                <ng-template [ngTemplateOutlet]="ContributorsGroup"></ng-template>
            </div>    
        </div>

        <div class="flex gap-5">   

            <!-- Metadata -->
            @if (this.case().createdBy) {
            }
            <div class="flex-column align-items-center  mb-auto">
                <div class="text-muted">
                    <small>Created</small>
                </div>
                <div class="text-center">
                    <small>{{ case().createdAt | date }}</small>
                </div> 
            </div>
            <div class="flex-column align-items-center  mb-auto">
                <div class="text-muted">
                    <small>Last updated</small>
                </div>
                @if (case().updatedAt ) {
                    <div class="text-center">
                        <small>{{ case().updatedAt | date }}</small>
                    </div> 
                } @else {
                    <div class="text-center">
                        <small>-</small>
                    </div> 
                }
            </div>
            <div class="flex x flex-column ">
                <small class="text-muted mb-1">Consent</small>
                    <div class="text-sm">
                        @switch (case().consentStatus) {
                            @case ('valid') {
                                Valid
                            }
                            @case ('revoked') {
                                Revoked
                            }
                            @default {
                                -
                            }
                        }
                    </div>
            </div>

            <ng-template *ngTemplateOutlet="ActionButton; context: {$implicit: 'Open case'}"></ng-template>
        </div>
    </div>

} @else {
        <td>
             <ng-template [ngTemplateOutlet]="CaseInfo"></ng-template>
        </td>
        <td>            
            <ng-template [ngTemplateOutlet]="Diagnosis"></ng-template>
        </td>
        <td class="mx-auto">
             <ng-template [ngTemplateOutlet]="ContributorsGroup"></ng-template>
        </td>
        <td class="text-center">{{case().createdAt | date}}</td>
        <td class="text-center">{{case().updatedAt | date}}</td>
        <td class="text-center">{{case().dataCompletionRate}}%</td>
        <td class="text-center">{{case().consentStatus}}</td>
        <td>
            <ng-template *ngTemplateOutlet="ActionButton; context: {$implicit: 'Open'}"></ng-template>
        </td>
}


<p-confirmdialog />


<ng-template #CaseInfo>
    <div class="flex gap-3 align-items-center">
        <!-- Identicon -->
        <pop-identicon [value]="case().pseudoidentifier" width="3rem" height="3rem"/>
        <!-- Case info -->
        <div class="flex flex-column my-auto mr-auto" >
            <div class="text-xl font-bold monospace">{{case().pseudoidentifier}}</div>
            <div class="text-muted font-medium white-space-nowrap">
                {{ case().gender.display }}, {{case().age}} years@if(case().isDeceased){, †}
            </div>
        </div>
    </div>
</ng-template>

<ng-template #Diagnosis> 
    @if (primaryEntity.isLoading()) {
        <p-skeleton width="20rem" height="2rem"></p-skeleton>      
    } @else {
        <div class="flex gap-2">
            @if (primaryEntity.value(); as entity) {
                <pop-cancer-icon class="my-auto" [topography]="entity.topography.code"></pop-cancer-icon>
                <div class="my-auto">{{ entity.description }}</div>
            } @else {
                <div>-</div>
            }
        </div>
    }
</ng-template>

<ng-template #ContributorsGroup >
    <p-avatar-group >
        @for (contributor of case().contributors; track $index; let index = $index;) {
            @if (index<3) {
                <pop-user-badge [username]="contributor"/>
            }
        }
        @if ((case().contributors.length || 0) > 3) {
            <p-avatar class="pop-other-users-avatar" [label]="'+' + (case().contributors!.length-3).toString()" shape="circle" size="normal" />
        }
    </p-avatar-group>
</ng-template>


<ng-template #ActionButton let-label>
    <p-splitbutton
        [label]="label"
        class="my-auto ml-auto"
        [menuButtonDisabled]="!currentUser().canManageCases"
        [dropdownIcon]="currentUser().canManageCases ? 'pi pi-cog' : 'pi pi-lock'" 
        [model]="actionItems"
        (onClick)="openCaseManagement()" />
</ng-template>


<p-confirmdialog key="exportConfirmation" maskStyleClass="confirmdialog">     
    <ng-template #headless let-onAccept="onAccept" let-onReject="onReject">
        <pop-export-confirm-dialog [onAccept]="onAccept" [onReject]="onReject"></pop-export-confirm-dialog>     
    </ng-template>
</p-confirmdialog>