@let statistics = statistics$ | async;

<div class="flex flex-wrap gap-5 mx-4">
    <pop-data-summay-counter [count]="statistics?.cases" title="Patient cases"/>
    <pop-data-summay-counter [count]="statistics?.entries" title="Data entries"/>
    <pop-data-summay-counter [count]="statistics?.primarySites" title="Primary Sites"/>
    <pop-data-summay-counter [count]="statistics?.mutations" title="Mutations"/>
    <pop-data-summay-counter [count]="statistics?.contributors" title="Contributors"/>
    <pop-data-summay-counter [count]="statistics?.clinicalCenters" title="Clinical Centers"/>
</div>


<div class="mt-4 mb-2">
    <h6 class="mb-0 font-semibold">Growth over time</h6>
</div>
<div class="w-100" >
    @let casesOverTimeData = casesOverTimeData$ | async;
    @if (casesOverTimeData && chartData) {
        <p-chart type="line" [data]="chartData" [options]="chartOptions" class="w-100" style="height: 10rem;"/>
    } @else {
        <p-skeleton height="15rem" class="w-100"/>
    }
</div>